## Import Lib

In [484]:
import pandas as pd
from datetime import timedelta
import os
import numpy as np

In [485]:
path = r"C:\Users\Akhil\Downloads\st_daily"

os.chdir(path)
print("Current Working Directory:", os.getcwd())

xlsx_files = [f for f in os.listdir(path) if f.endswith('.xlsx')]

if len(xlsx_files) != 3:
    raise ValueError("There should be exactly 3 .xlsx files in the directory.")

Current Working Directory: C:\Users\Akhil\Downloads\st_daily

In [486]:
st_1 = pd.read_excel(xlsx_files[0])
st_2 = pd.read_excel(xlsx_files[1])
st_3 = pd.read_excel(xlsx_files[2])

c:\Users\Akhil\Office\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\Akhil\Office\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\Akhil\Office\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [487]:
print(f"""
st_1:
  Start time min: {st_1['Start time'].min()}
  Start time max: {st_1['Start time'].max()}

st_2:
  Start time min: {st_2['Start time'].min()}
  Start time max: {st_2['Start time'].max()}

st_3:
  Start time min: {st_3['Start time'].min()}
  Start time max: {st_3['Start time'].max()}
""")

st_1:
  Start time min: 2026-01-22 07:18:04.473000
  Start time max: 2026-01-22 16:36:58.794000

st_2:
  Start time min: 2026-01-22 03:19:15.171000
  Start time max: 2026-01-22 16:37:09.658000

st_3:
  Start time min: 2026-01-22 08:09:11.352000
  Start time max: 2026-01-22 16:33:30.332000

In [488]:
concat_df = pd.concat([st_1, st_2,st_3], ignore_index=True)
print("Length of st_1:", len(st_1))
print("Length of st_2:", len(st_2))
print("Length of st_3:", len(st_3))
print("Length of concatenated DataFrame:", len(concat_df))

Length of st_1: 353
Length of st_2: 1091
Length of st_3: 848
Length of concatenated DataFrame: 2292

In [489]:
# A = concat_df[concat_df['End of Call code'] != 'CAN_NOT_MAKE_CALL']

In [490]:
output_path = r"C:\Users\Akhil\Downloads\daily raw\S_22_01_17.csv"
concat_df.to_csv(output_path, index=False)
print(f"CSV saved to: {output_path}")

CSV saved to: C:\Users\Akhil\Downloads\daily raw\S_22_01_17.csv

In [491]:
import os
path = r"C:\Users\Akhil\Downloads\daily raw"
os.chdir(path)
print("Current Working Directory:", os.getcwd())

Current Working Directory: C:\Users\Akhil\Downloads\daily raw

## load csv file

In [492]:
# voiso = pd.read_csv('VT_12_16.csv',low_memory=False)
tata = pd.read_csv('T_22_01_17.csv',low_memory=False)
know = pd.read_csv('K_22_01_17.csv',low_memory=False)
# Qconn = pd.read_csv('Q_19_10_07.csv',low_memory=False)
stringee = pd.read_csv('S_22_01_17.csv',low_memory=False)

In [493]:
know.columns

Index(['Call UUID', 'Date and Time', 'Call Direction', 'Call Status', 'Device',
       'Solution', 'Sr Number', 'Customer', 'Customer Name', 'Agent Number',
       'Agent Name', 'Customer Status', 'Agent Status',
       'Total Call Duration (hh:mm:ss)', 'Talk Time (hh:mm:ss)',
       'Hold Time (hh:mm:ss)', 'Call Actions', 'Call Recording', 'Notes',
       'Voicemail', 'DTMF Extensions', 'Queue', 'Wait time in Queue',
       'AASA(Transfer Time)', 'Campaign ID', 'Disposition', 'Sub Disposition',
       'Hangup By', 'IVR ID', 'Credits Deducted', 'Follow Up Date'],
      dtype='object')

In [494]:
print(tata[['Call Start Time', 'Call Answered Time', 'Call End Time']].head(10).to_dict(orient='records'))

[{'Call Start Time': '18:08:11', 'Call Answered Time': '---', 'Call End Time': '18:08:14'}, {'Call Start Time': '18:08:10', 'Call Answered Time': '---', 'Call End Time': '18:08:10'}, {'Call Start Time': '18:08:06', 'Call Answered Time': '---', 'Call End Time': '18:08:06'}, {'Call Start Time': '18:08:00', 'Call Answered Time': '---', 'Call End Time': '18:08:00'}, {'Call Start Time': '18:07:57', 'Call Answered Time': '---', 'Call End Time': '18:08:04'}, {'Call Start Time': '18:07:51', 'Call Answered Time': '18:08:02', 'Call End Time': '18:08:11'}, {'Call Start Time': '18:07:46', 'Call Answered Time': '---', 'Call End Time': '18:07:52'}, {'Call Start Time': '18:07:44', 'Call Answered Time': '18:07:51', 'Call End Time': '18:07:55'}, {'Call Start Time': '18:07:36', 'Call Answered Time': '18:07:53', 'Call End Time': '18:07:55'}, {'Call Start Time': '18:07:26', 'Call Answered Time': '---', 'Call End Time': '18:07:56'}]

In [495]:
know['Date and Time'] = pd.to_datetime(know['Date and Time'], errors = 'coerce') - pd.Timedelta(hours=1, minutes=30)

In [496]:


# Define a parser that extracts just the time, or returns NaT if not possible
def extract_time(val):
    try:
        # Try parsing as full datetime first (in case of '01/01/1900 13:55' or similar)
        dt = pd.to_datetime(val, errors='coerce')
        if pd.notna(dt):
            return dt.time()
        else:
            # Try parsing as time only
            dt = pd.to_datetime(val, format='%H:%M:%S', errors='coerce')
            return dt.time() if pd.notna(dt) else pd.NaT
    except:
        return pd.NaT

# List of columns to process
time_columns = ['Call Start Time', 'Call Answered Time', 'Call End Time']

# Strip whitespace and convert to time
for col in time_columns:
    tata[col] = tata[col].astype(str).str.strip()
    tata[col] = tata[col].apply(extract_time)

# Optional: if you want to display/export as string like '13:55:00'
for col in time_columns:
    tata[col] = tata[col].apply(lambda x: x.strftime('%H:%M:%S') if pd.notna(x) else None)

In [497]:
tata['Call Start Time']

0       18:08:11
1       18:08:10
2       18:08:06
3       18:08:00
4       18:07:57
          ...
4671    09:01:22
4672    09:01:10
4673    09:01:06
4674    09:00:58
4675    09:00:31
Name: Call Start Time, Length: 4676, dtype: object

In [498]:
tata['Call Start Time'] = pd.to_datetime(tata['Call Start Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)
tata['Call Answered Time'] = pd.to_datetime(tata['Call Answered Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)
tata['Call End Time'] = pd.to_datetime(tata['Call End Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\1863726593.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tata['Call Start Time'] = pd.to_datetime(tata['Call Start Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\1863726593.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tata['Call Answered Time'] = pd.to_datetime(tata['Call Answered Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\1863726593.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tata['Call End Time'] = pd.to_datetime(tata['Call End Time'], errors='coerce') - pd.Timedelta(hours=1, minutes=30)

In [499]:
tata['Call Start Time'] = tata['Call Start Time'].dt.strftime('%H:%M:%S')

In [500]:
tata['Call Start Time']

0       16:38:11
1       16:38:10
2       16:38:06
3       16:38:00
4       16:37:57
          ...
4671    07:31:22
4672    07:31:10
4673    07:31:06
4674    07:30:58
4675    07:30:31
Name: Call Start Time, Length: 4676, dtype: object

In [501]:
know['Date and Time'] = know['Date and Time'].astype(str)
tata['Call Start Time'] = tata['Call Start Time'].astype(str)
tata['Call End Time'] = tata['Call End Time'].astype(str)
tata['Call Answered Time'] = tata['Call Answered Time'].astype(str)

## Check_point_1

In [502]:
# print("voiso:", voiso['Date and time'].unique()[:5])
print("tata:", tata['Call Start Date'].unique()[:5])
print("know:", know['Date and Time'].unique()[:5])
# print("Qconn:", Qconn['Date time'].unique()[:5])
print("stringee:", stringee['Start time'].unique()[:5])

tata: ['2026-01-22']
know: ['2026-01-22 16:36:27' '2026-01-22 16:36:19' '2026-01-22 16:36:05'
 '2026-01-22 16:35:31' '2026-01-22 16:35:28']
stringee: ['2026-01-22 16:36:58.794' '2026-01-22 16:36:38.115'
 '2026-01-22 16:36:36.079' '2026-01-22 16:34:47.825'
 '2026-01-22 16:34:22.807']

In [503]:
stringee['Answer duration'] = stringee['Answer duration'].fillna('00:00:00')
stringee['Queue duration'] = stringee['Queue duration'].fillna('00:00:00')

In [504]:
# Function to convert durations in hh:mm:ss format to timedelta
def duration_to_timedelta(duration):
    hours, minutes, seconds = map(int, duration.split(':'))
    return timedelta(hours=hours, minutes=minutes, seconds=seconds)

# Convert the 'Queue duration' and 'Answer duration' columns to timedelta
stringee['Queue Duration (timedelta)'] = stringee['Queue duration'].apply(duration_to_timedelta)
stringee['Answer Duration (timedelta)'] = stringee['Answer duration'].apply(duration_to_timedelta)

# Calculate the total duration as timedelta
stringee['Total Duration (timedelta)'] = stringee['Queue Duration (timedelta)'] + stringee['Answer Duration (timedelta)']

# Convert the total duration back to hh:mm:ss format (remove "0 days")
stringee['Total Duration'] = stringee['Total Duration (timedelta)'].apply(lambda x: str(x).split(", ")[-1])

# Drop intermediate timedelta columns if not needed
stringee = stringee.drop(columns=['Queue Duration (timedelta)', 'Answer Duration (timedelta)', 'Total Duration (timedelta)'])

In [505]:
stringee

,ID,Customer number,Hotline,Call type,Start time,End time,Queue duration,Answer duration,Account,Hold duration,Contact,Company ID,End of Call code,Call status,Total Duration
0,call-vn-1-7DJ0LGTBTE-1768981966822,919534203655,917971603271,Outbound calls,2026-01-22 16:36:58.794,2026-01-22 16:37:01.436,00:00:02,00:00:00,kamaljeet.k@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:02
1,call-vn-1-7DJ0LGTBTE-1768981966583,919545141888,7971603271,Inbound calls,2026-01-22 16:36:38.115,2026-01-22 16:36:38.144,00:00:00,00:00:00,NaN,00:00:00,NaN,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
2,call-vn-1-7DJ0LGTBTE-1768981966560,919545141888,7971603271,Inbound calls,2026-01-22 16:36:36.079,2026-01-22 16:36:36.088,00:00:00,00:00:00,NaN,00:00:00,NaN,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
3,call-vn-1-7DJ0LGTBTE-1768981965193,919829242188,917971603271,Outbound calls,2026-01-22 16:34:47.825,2026-01-22 16:37:15.506,00:00:20,00:02:06,namrata@nexora.live,00:00:00,Contact 919829242188,NaN,USER_END_CALL,Answered,0 days 00:02:26
4,call-vn-1-7DJ0LGTBTE-1768981964865,918449475370,7971603271,Inbound calls,2026-01-22 16:34:22.807,2026-01-22 16:34:22.816,00:00:00,00:00:00,NaN,00:00:00,Contact 918449475370,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,call-vn-1-7DJ0LGTBTE-1768981533685,919811023053,917971603418,Outbound calls,2026-01-22 08:17:12.701,2026-01-22 08:17:12.758,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,Contact 919811023053,NaN,USER_END_CALL,Missed,0 days 00:00:00
2288,call-vn-1-7DJ0LGTBTE-1768981531842,917037604186,917971603418,Outbound calls,2026-01-22 08:14:53.030,2026-01-22 08:14:53.105,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2289,call-vn-1-7DJ0LGTBTE-1768981528584,917037604186,917971603418,Outbound calls,2026-01-22 08:11:03.258,2026-01-22 08:11:03.335,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2290,call-vn-1-7DJ0LGTBTE-1768981528200,917037604186,917971603418,Outbound calls,2026-01-22 08:10:32.172,2026-01-22 08:10:32.238,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2291,call-vn-1-7DJ0LGTBTE-1768981527117,+919787816065,7971603418,Inbound calls,2026-01-22 08:09:11.352,2026-01-22 08:09:11.363,00:00:00,00:00:00,NaN,00:00:00,Contact 919787816065,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00

In [506]:
# stringee['Start time'] = pd.to_datetime(stringee['Start time']) + pd.Timedelta(hours=1, minutes=30)

In [507]:
stringee

,ID,Customer number,Hotline,Call type,Start time,End time,Queue duration,Answer duration,Account,Hold duration,Contact,Company ID,End of Call code,Call status,Total Duration
0,call-vn-1-7DJ0LGTBTE-1768981966822,919534203655,917971603271,Outbound calls,2026-01-22 16:36:58.794,2026-01-22 16:37:01.436,00:00:02,00:00:00,kamaljeet.k@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:02
1,call-vn-1-7DJ0LGTBTE-1768981966583,919545141888,7971603271,Inbound calls,2026-01-22 16:36:38.115,2026-01-22 16:36:38.144,00:00:00,00:00:00,NaN,00:00:00,NaN,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
2,call-vn-1-7DJ0LGTBTE-1768981966560,919545141888,7971603271,Inbound calls,2026-01-22 16:36:36.079,2026-01-22 16:36:36.088,00:00:00,00:00:00,NaN,00:00:00,NaN,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
3,call-vn-1-7DJ0LGTBTE-1768981965193,919829242188,917971603271,Outbound calls,2026-01-22 16:34:47.825,2026-01-22 16:37:15.506,00:00:20,00:02:06,namrata@nexora.live,00:00:00,Contact 919829242188,NaN,USER_END_CALL,Answered,0 days 00:02:26
4,call-vn-1-7DJ0LGTBTE-1768981964865,918449475370,7971603271,Inbound calls,2026-01-22 16:34:22.807,2026-01-22 16:34:22.816,00:00:00,00:00:00,NaN,00:00:00,Contact 918449475370,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,call-vn-1-7DJ0LGTBTE-1768981533685,919811023053,917971603418,Outbound calls,2026-01-22 08:17:12.701,2026-01-22 08:17:12.758,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,Contact 919811023053,NaN,USER_END_CALL,Missed,0 days 00:00:00
2288,call-vn-1-7DJ0LGTBTE-1768981531842,917037604186,917971603418,Outbound calls,2026-01-22 08:14:53.030,2026-01-22 08:14:53.105,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2289,call-vn-1-7DJ0LGTBTE-1768981528584,917037604186,917971603418,Outbound calls,2026-01-22 08:11:03.258,2026-01-22 08:11:03.335,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2290,call-vn-1-7DJ0LGTBTE-1768981528200,917037604186,917971603418,Outbound calls,2026-01-22 08:10:32.172,2026-01-22 08:10:32.238,00:00:00,00:00:00,srikanth.p@nexora.live,00:00:00,NaN,NaN,USER_END_CALL,Missed,0 days 00:00:00
2291,call-vn-1-7DJ0LGTBTE-1768981527117,+919787816065,7971603418,Inbound calls,2026-01-22 08:09:11.352,2026-01-22 08:09:11.363,00:00:00,00:00:00,NaN,00:00:00,Contact 919787816065,NaN,USER_END_CALL,Stopped at IVR,0 days 00:00:00

## ETL

In [508]:
new_tata = tata[['Call Start Date', 'Connected to Agent','Call Status','Answer Duration (HH:MM:SS)',
                 'Hold Duration (HH:MM:SS)','Total Call Duration (HH:MM:SS)','Call Start Time','Customer Number']]

In [509]:

new_Know = know[['Date and Time', 'Agent Name','Call Status', 'Talk Time (hh:mm:ss)', 'Hold Time (hh:mm:ss)','Total Call Duration (hh:mm:ss)','Customer']]

In [510]:
# new_voiso =  voiso[['Date and time','Agent(s)','Disposition','Talk time','Duration','DNIS/To']]

In [511]:
# new_qconn = Qconn[['Date time','Agent Mobile','Call Event','Transfer Duration','Duration','User Mobile']]

In [512]:
new_string = stringee[['Start time','Account','Call status','Answer duration','Hold duration','Total Duration','Customer number']]

## Voiso date

In [513]:
# new_voiso['Date and time'].unique()

In [514]:
# # Function to convert 'Date and time' from mm/dd/yyyy HH:mm:ss to yyyy/mm/dd HH:mm:ss
# def fix_voiso_datetime(df, col_name):
#     # Convert using pd.to_datetime, specify the format as mm/dd/yyyy
#     df[col_name] = pd.to_datetime(df[col_name], errors='coerce', format='%m/%d/%Y %H:%M:%S') #
    
#     # Format the datetime to 'yyyy/mm/dd HH:mm:ss'
#     df[col_name] = df[col_name].dt.strftime('%Y/%m/%d %H:%M:%S')
    
#     return df

# # Apply the function to 'Date and time' column in Voiso
# new_voiso = fix_voiso_datetime(new_voiso, 'Date and time')

# # Verify the result
# print("Voiso Date and time after fixing format:", new_voiso['Date and time'].unique())

## string date format

In [515]:
#####check
new_string['Start time'].head()

0    2026-01-22 16:36:58.794
1    2026-01-22 16:36:38.115
2    2026-01-22 16:36:36.079
3    2026-01-22 16:34:47.825
4    2026-01-22 16:34:22.807
Name: Start time, dtype: object

In [516]:
# Function to fix 'new_string' Date Time format
def fix_string_datetime(date_str):
    try:
        # Parse the date and time, assuming format mm/dd/yyyy hh:mm:ss AM/PM
        parsed_date = pd.to_datetime(date_str, errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')
        return parsed_date
    except Exception as e:
        return pd.NaT  # Return NaT for any unparseable date

# Ensure the column is parsed as datetime
new_string['Start time'] = pd.to_datetime(new_string['Start time'], errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')

# Now you can safely use .dt to format
new_string['Start time'] = new_string['Start time'].dt.strftime('%Y/%m/%d %H:%M:%S')

# Check the result
print("String unique date formats after fixing:", new_string['Start time'].head())

String unique date formats after fixing: 0    2026/01/22 16:36:58
1    2026/01/22 16:36:38
2    2026/01/22 16:36:36
3    2026/01/22 16:34:47
4    2026/01/22 16:34:22
Name: Start time, dtype: object

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3359858759.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_string['Start time'] = pd.to_datetime(new_string['Start time'], errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3359858759.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_string['Start time'] = new_string['Start time'].dt.strftime('%Y/%m/%d %H:%M:%S')

In [517]:
new_Know['Date and Time'].head()

0    2026-01-22 16:36:27
1    2026-01-22 16:36:19
2    2026-01-22 16:36:05
3    2026-01-22 16:35:31
4    2026-01-22 16:35:28
Name: Date and Time, dtype: object

In [518]:
# new_qconn['Date time'].head()

### temp

In [519]:
new_Know['Date and Time'] = pd.to_datetime(new_Know['Date and Time'], errors='coerce', format='%Y-%m-%d %H:%M:%S') #%d/%m/%Y


new_Know['Date'] = new_Know['Date and Time'].dt.date  # Extract date part
new_Know['Call Start Time'] = new_Know['Date and Time'].dt.strftime('%H:%M:%S')  # Extract time part

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3402236806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Date and Time'] = pd.to_datetime(new_Know['Date and Time'], errors='coerce', format='%Y-%m-%d %H:%M:%S') #%d/%m/%Y
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3402236806.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Date'] = new_Know['Date and Time'].dt.date  # Extract date part
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3402236806.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Call Start Time'] = new_Know['Date and Time'].dt.strftime('%H:%M:%S')  # Extract time part

In [520]:
# Convert 'Date and Time' column in new_Know to datetime format
# new_qconn['Date time'] = pd.to_datetime(new_qconn['Date time'], errors='coerce', format='%Y-%m-%d %H:%M:%S')
new_Know['Date and Time'] = pd.to_datetime(new_Know['Date and Time'], errors='coerce', format='%Y-%m-%d %H:%M:%S') #%d/%m/%Y

# Now check the type of 'Date' again in both dataframes
# print("Data type of 'Date' in new_qconn after conversion:", new_qconn['Date time'].dtype)
print("Data type of 'Date' in new_Know after conversion:", new_Know['Date and Time'].dtype)

# Extract date and call start time for new_Know
new_Know['Date'] = new_Know['Date and Time'].dt.date  # Extract date part
new_Know['Call Start Time'] = new_Know['Date and Time'].dt.strftime('%H:%M:%S')  # Extract time part

# Extract date and call start time for new_qconn (if you haven't done this yet)
# new_qconn['Date'] = new_qconn['Date time'].dt.date  # Extract date part
# new_qconn['Call Start Time'] = new_qconn['Date time'].dt.strftime('%H:%M:%S')  # Extract time part

# Check the resulting dataframes to ensure extraction is successful
# print(new_qconn[['Date', 'Call Start Time']].head())
print(new_Know[['Date', 'Call Start Time']].head())

Data type of 'Date' in new_Know after conversion: datetime64[ns]
         Date Call Start Time
0  2026-01-22        16:36:27
1  2026-01-22        16:36:19
2  2026-01-22        16:36:05
3  2026-01-22        16:35:31
4  2026-01-22        16:35:28

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\550217635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Date and Time'] = pd.to_datetime(new_Know['Date and Time'], errors='coerce', format='%Y-%m-%d %H:%M:%S') #%d/%m/%Y
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\550217635.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Date'] = new_Know['Date and Time'].dt.date  # Extract date part
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\550217635.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_Know['Call Start Time'] = new_Know['Date and Time'].dt.strftime('%H:%M:%S')  # Extract time part

In [521]:
# Find rows where 'Date time' is NaT
# invalid_dates = new_qconn[new_qconn['Date time'].isna()]
# print(invalid_dates)

In [522]:
# (new_qconn['Date'].unique())

In [523]:
# Check the data type of the 'Date' column
# print("Data type of 'Date' in new_qconn:", new_qconn['Date time'].dtype)
print("Data type of 'Date' in new_Know:", new_Know['Date and Time'].dtype)

Data type of 'Date' in new_Know: datetime64[ns]

In [524]:
# Function to separate Date and Call Start Time
def split_date_time(df, col_name):
    # Convert to datetime first (if not already done)
    df[col_name] = pd.to_datetime(df[col_name], errors='coerce', format='%Y/%m/%d %H:%M:%S')

    # Extract the Date (yyyy/mm/dd) and Time (hh:mm:ss)
    df['Date'] = df[col_name].dt.date
    df['Call Start Time'] = df[col_name].dt.strftime('%H:%M:%S')

    return df

# Apply the function to each dataframe
# new_voiso = split_date_time(new_voiso, 'Date and time')
new_string = split_date_time(new_string, 'Start time')

# Verify the changes
# print(new_qconn[['Date', 'Call Start Time']].head())
# print(new_voiso[['Date', 'Call Start Time']].head())
print(new_Know[['Date', 'Call Start Time']].head())
print(new_string[['Date', 'Call Start Time']].head())

         Date Call Start Time
0  2026-01-22        16:36:27
1  2026-01-22        16:36:19
2  2026-01-22        16:36:05
3  2026-01-22        16:35:31
4  2026-01-22        16:35:28
         Date Call Start Time
0  2026-01-22        16:36:58
1  2026-01-22        16:36:38
2  2026-01-22        16:36:36
3  2026-01-22        16:34:47
4  2026-01-22        16:34:22

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2019051951.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name] = pd.to_datetime(df[col_name], errors='coerce', format='%Y/%m/%d %H:%M:%S')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2019051951.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df[col_name].dt.date
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2019051951.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Call Start Time'] = df[col_name].dt.strftime('%H:%M:%S')

In [525]:
# new_qconn

### copy of main dfs

### temp

In [526]:
tata_copy = new_tata.copy()
know_copy = new_Know.copy()

In [527]:
tata_copy = new_tata.copy()
know_copy = new_Know.copy()
# voiso_copy = new_voiso.copy()
# qconn_copy = new_qconn.copy()
string_copy = new_string.copy()

### insert source

### temp

In [528]:
tata_copy['Source'] = 'Tata'
know_copy['Source'] = 'Knowlarity'

In [529]:
tata_copy['Source'] = 'Tata'
know_copy['Source'] = 'Knowlarity'
# voiso_copy['Source'] = 'Voiso'
# qconn_copy['Source'] = 'Qkonnect'
string_copy['Source'] = 'Stringee'

In [530]:
print(tata_copy.dtypes)
print(string_copy['Date'].unique())

Call Start Date                   object
Connected to Agent                object
Call Status                       object
Answer Duration (HH:MM:SS)        object
Hold Duration (HH:MM:SS)          object
Total Call Duration (HH:MM:SS)    object
Call Start Time                   object
Customer Number                    int64
Source                            object
dtype: object
[datetime.date(2026, 1, 22)]

### Rename Columns

In [531]:
tata_copy.rename(columns={
    'Call Start Date': 'Date',
    'Connected to Agent': 'Dialer Name',
    'Customer Number' : 'Number',
    'Call Status': 'Call Status',
    'Answer Duration (HH:MM:SS)': 'Talk Time',
    'Hold Duration (HH:MM:SS)': 'Hold Time',
    'Total Call Duration (HH:MM:SS)': 'Total Call Duration',
    'Call Start Time': 'Call Start Time'
}, inplace=True)

know_copy.rename(columns={
    'Date': 'Date',
    'Agent Name': 'Dialer Name',
    'Customer': 'Number',
    'Call Status': 'Call Status',
    'Talk Time (hh:mm:ss)': 'Talk Time',
    'Hold Time (hh:mm:ss)': 'Hold Time',
    'Total Call Duration (hh:mm:ss)': 'Total Call Duration',
    'Call Start Time': 'Call Start Time'
}, inplace=True)

In [532]:
tata_copy.rename(columns={
    'Call Start Date': 'Date',
    'Connected to Agent': 'Dialer Name',
    'Customer Number' : 'Number',
    'Call Status': 'Call Status',
    'Answer Duration (HH:MM:SS)': 'Talk Time',
    'Hold Duration (HH:MM:SS)': 'Hold Time',
    'Total Call Duration (HH:MM:SS)': 'Total Call Duration',
    'Call Start Time': 'Call Start Time'
}, inplace=True)

know_copy.rename(columns={
    'Date': 'Date',
    'Agent Name': 'Dialer Name',
    'Customer': 'Number',
    'Call Status': 'Call Status',
    'Talk Time (hh:mm:ss)': 'Talk Time',
    'Hold Time (hh:mm:ss)': 'Hold Time',
    'Total Call Duration (hh:mm:ss)': 'Total Call Duration',
    'Call Start Time': 'Call Start Time'
}, inplace=True)

# voiso_copy.rename(columns={
#     'Date': 'Date',
#     'Agent(s)': 'Dialer Name',
#     'DNIS/To': 'Number',
#     'Disposition': 'Call Status',
#     'Talk time': 'Talk Time',
#     'Duration': 'Total Call Duration',
#     'Call Start Time': 'Call Start Time'
# }, inplace=True)

# qconn_copy.rename(columns={
#     'Date': 'Date',
#     'Agent Mobile': 'Dialer Name',
#     'User Mobile': 'Number',
#     'Call Event': 'Call Status',
#     'Transfer Duration': 'Talk Time',
#     'Duration': 'Total Call Duration',
#     'Call Start Time': 'Call Start Time'
# }, inplace=True

string_copy.rename(columns={
    'Date': 'Date',    
    'Account': 'Dialer Name',
    'Customer number': 'Number',
    'Call status': 'Call Status',
    'Answer duration': 'Talk Time',
    'Hold duration': 'Hold Time',
    'Total Duration': 'Total Call Duration',
    'Call Start Time': 'Call Start Time'
}, inplace=True)

In [533]:
# print(qconn_copy.shape)
# print(voiso_copy.shape)
print(know_copy.shape)  
print(tata_copy.shape)
print(string_copy.shape)

(1376, 10)
(4676, 9)
(2292, 10)

In [534]:
print(string_copy['Date'].unique())
print(tata_copy['Date'].unique())
print(know_copy['Date'].unique())
# print(voiso_copy['Date'].unique())
# print(qconn_copy['Date'].unique())

[datetime.date(2026, 1, 22)]
['2026-01-22']
[datetime.date(2026, 1, 22)]

In [535]:
tata_copy.shape, know_copy.shape,string_copy.shape

((4676, 9), (1376, 10), (2292, 10))

### TEMP

In [536]:
tata_selected = tata_copy[[ 'Source','Date', 'Dialer Name','Number', 'Call Status','Call Start Time','Total Call Duration', 'Talk Time', 'Hold Time']]
know_selected = know_copy[[ 'Source','Date', 'Dialer Name','Number' ,'Call Status', 'Call Start Time','Total Call Duration','Talk Time', 'Hold Time']]

combined = pd.concat([tata_selected, know_selected], ignore_index=True)

In [537]:

# Select only the required columns from each dataframe
tata_selected = tata_copy[[ 'Source','Date', 'Dialer Name','Number', 'Call Status','Call Start Time','Total Call Duration', 'Talk Time', 'Hold Time']]
know_selected = know_copy[[ 'Source','Date', 'Dialer Name','Number' ,'Call Status', 'Call Start Time','Total Call Duration','Talk Time', 'Hold Time']]
# voiso_selected = voiso_copy[[ 'Source','Date', 'Dialer Name', 'Number','Call Status','Call Start Time','Total Call Duration', 'Talk Time']]
# qconn_selected = qconn_copy[['Source','Date', 'Dialer Name','Number', 'Call Status','Call Start Time','Total Call Duration', 'Talk Time']]
string_selected = string_copy[['Source','Date', 'Dialer Name','Number', 'Call Status','Call Start Time','Total Call Duration', 'Talk Time', 'Hold Time']]


# Now concatenate
combined = pd.concat([tata_selected, know_selected, string_selected], ignore_index=True)

In [538]:
combined

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana (Extension-0605454200184),916005666496,Missed,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu (Extension-0605454200261),919863547543,Missed,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh (Extension-0605454200147),918054878127,Missed,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair (Extension-0605454200161),917850061932,Missed,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin (Extension-0605454200254),918248054855,Missed,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8339,Stringee,2026-01-22,srikanth.p@nexora.live,919811023053,Missed,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8340,Stringee,2026-01-22,srikanth.p@nexora.live,917037604186,Missed,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8341,Stringee,2026-01-22,srikanth.p@nexora.live,917037604186,Missed,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8342,Stringee,2026-01-22,srikanth.p@nexora.live,917037604186,Missed,08:10:32,0 days 00:00:00,00:00:00,00:00:00
8343,Stringee,2026-01-22,NaN,+919787816065,Stopped at IVR,08:09:11,0 days 00:00:00,00:00:00,00:00:00

In [539]:
print(combined.isnull().sum())
print(combined.shape)

Source                   0
Date                     0
Dialer Name            223
Number                   1
Call Status              0
Call Start Time          0
Total Call Duration      0
Talk Time                0
Hold Time                0
dtype: int64
(8344, 9)

## Check_point_2

In [540]:
# Filter rows where Date is null
null_date_entries = combined[combined['Date'].isnull()]

# Display the filtered DataFrame
null_date_entries

Empty DataFrame
Columns: [Source, Date, Dialer Name, Number, Call Status, Call Start Time, Total Call Duration, Talk Time, Hold Time]
Index: []

In [541]:
combined['Date'].unique()

array(['2026-01-22', datetime.date(2026, 1, 22)], dtype=object)

In [542]:
combined_df =combined.copy()

In [543]:
# Refine the regex to only remove unwanted patterns
combined_df['Dialer Name'] = combined_df['Dialer Name'].str.replace(r"\s*\([^)]*\)|@.*|;.*", "", regex=True)

# Fill missing 'Dialer Name' values with their original values if they were numeric
combined_df['Dialer Name'] = combined_df['Dialer Name'].fillna(combined['Dialer Name'])

In [544]:
# Replace NaN in 'Hold time' with '00:00:00'
combined_df['Hold Time'] = combined_df['Hold Time'].fillna('00:00:00')

combined_df

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,Missed,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,Missed,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,Missed,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,Missed,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,Missed,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8339,Stringee,2026-01-22,srikanth.p,919811023053,Missed,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8340,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8341,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8342,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:10:32,0 days 00:00:00,00:00:00,00:00:00
8343,Stringee,2026-01-22,NaN,+919787816065,Stopped at IVR,08:09:11,0 days 00:00:00,00:00:00,00:00:00

In [545]:
A = combined_df.copy()

In [546]:
# Remove rows where 'Dialer Name' is null
A1 = A[A['Dialer Name'].notnull()]

# Verify the result
print(f"Number of rows after removing null 'Dialer Name': {len(A1)}")

Number of rows after removing null 'Dialer Name': 8121

In [547]:
A1.describe()

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
count,8121,8121,8121,8120,8121,8121,8121,8121,8121
unique,3,2,72,6515,2,7103,727,532,6
top,Tata,2026-01-22,497 Anjali,919404735041,Missed,08:06:23,00:00:31,00:00:00,00:00:00
freq,4676,4676,303,10,6299,5,1234,5281,6793

In [548]:
# Check for null values in the 'Dialer Name' column
null_dialer_name_count = combined_df['Dialer Name'].isnull().sum()

# Print the result
print(f"Number of null values in 'Dialer Name': {null_dialer_name_count}")

Number of null values in 'Dialer Name': 223

In [549]:
A1

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,Missed,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,Missed,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,Missed,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,Missed,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,Missed,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8338,Stringee,2026-01-22,srikanth.p,919811023053,Missed,08:18:51,0 days 00:00:00,00:00:00,00:00:00
8339,Stringee,2026-01-22,srikanth.p,919811023053,Missed,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8340,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8341,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8342,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:10:32,0 days 00:00:00,00:00:00,00:00:00

## Check_point_3

In [550]:
unique_dates_per_source = A1.groupby('Source')['Date'].unique()
print(unique_dates_per_source)

Source
Knowlarity    [2026-01-22]
Stringee      [2026-01-22]
Tata          [2026-01-22]
Name: Date, dtype: object

In [551]:
A1

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,Missed,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,Missed,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,Missed,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,Missed,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,Missed,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8338,Stringee,2026-01-22,srikanth.p,919811023053,Missed,08:18:51,0 days 00:00:00,00:00:00,00:00:00
8339,Stringee,2026-01-22,srikanth.p,919811023053,Missed,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8340,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8341,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8342,Stringee,2026-01-22,srikanth.p,917037604186,Missed,08:10:32,0 days 00:00:00,00:00:00,00:00:00

In [552]:
import re

def normalize_talk_time(talk_time):
    # If the value is in seconds (only digits), convert it to hh:mm:ss
    if re.match(r"^\d+$", str(talk_time)):
        seconds = int(talk_time)
        hours = seconds // 3600
        minutes = (seconds % 3600) // 60
        seconds = seconds % 60
        return f"{hours:02}:{minutes:02}:{seconds:02}"
    elif re.match(r"^\d+:\d+:\d+$", str(talk_time)):
        parts = talk_time.split(":")
        hours = int(parts[0])
        minutes = int(parts[1])
        seconds = int(parts[2])
        return f"{hours:02}:{minutes:02}:{seconds:02}"
    else:
        # Return the value as-is if it doesn't match expected formats
        return talk_time

# Apply the normalization function to the 'Talk Time' column
A1['Talk Time'] = A1['Talk Time'].apply(normalize_talk_time)

# Apply the normalization function to the 'Total Call Duration' column
A1['Total Call Duration'] = A1['Total Call Duration'].apply(normalize_talk_time)


print(A1[['Talk Time', 'Total Call Duration']].head())

  Talk Time Total Call Duration
0  00:00:00            00:00:04
1  00:00:00            00:00:00
2  00:00:00            00:00:00
3  00:00:00            00:00:00
4  00:00:00            00:00:07

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\4084048447.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A1['Talk Time'] = A1['Talk Time'].apply(normalize_talk_time)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\4084048447.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A1['Total Call Duration'] = A1['Total Call Duration'].apply(normalize_talk_time)

In [553]:
unique_talk_time_formats = A1['Talk Time'].unique()

print(f"Unique formats in 'Talk Time': {unique_talk_time_formats}")

Unique formats in 'Talk Time': ['00:00:00' '00:00:09' '00:00:04' '00:00:02' '00:00:13' '00:00:07'
 '00:00:19' '00:00:38' '00:00:36' '00:00:06' '00:00:30' '00:00:29'
 '00:00:34' '00:00:59' '00:00:32' '00:00:39' '00:08:41' '00:00:24'
 '00:00:03' '00:01:30' '00:01:55' '00:03:06' '00:00:31' '00:00:23'
 '00:00:01' '00:03:39' '00:00:20' '00:03:37' '00:00:10' '00:07:18'
 '00:01:31' '00:07:48' '00:04:01' '00:03:18' '00:00:08' '00:00:27'
 '00:00:11' '00:00:33' '00:01:54' '00:01:22' '00:01:15' '00:06:17'
 '00:17:43' '00:01:13' '00:00:22' '00:07:33' '00:00:44' '00:00:15'
 '00:00:21' '00:00:12' '00:05:13' '00:01:52' '00:03:31' '00:00:40'
 '00:14:54' '00:01:09' '00:00:14' '00:00:51' '00:02:04' '00:00:05'
 '00:01:21' '00:01:10' '00:07:20' '00:01:16' '00:00:37' '00:03:43'
 '00:10:15' '00:04:17' '00:06:27' '00:11:50' '00:01:12' '00:01:59'
 '00:25:08' '00:01:01' '00:04:08' '00:00:26' '00:00:57' '00:00:16'
 '00:02:39' '00:03:10' '00:01:32' '00:08:32' '00:02:05' '00:01:33'
 '00:00:48' '00:00:52' '00:03:01' '00:02:13' '00:00:18' '00:00:42'
 '00:00:43' '00:01:08' '00:01:26' '00:01:37' '00:02:19' '00:01:25'
 '00:03:53' '00:02:29' '00:04:04' '00:02:37' '00:27:56' '00:01:42'
 '00:01:02' '00:00:53' '00:00:25' '00:02:58' '00:03:11' '00:08:21'
 '00:14:33' '00:02:02' '00:02:44' '00:01:14' '00:02:25' '00:12:34'
 '00:01:44' '00:01:39' '00:00:50' '00:05:00' '00:01:18' '00:02:36'
 '00:03:40' '00:00:41' '00:01:36' '00:04:31' '00:06:04' '00:01:11'
 '00:00:47' '00:16:34' '00:01:35' '00:02:08' '00:01:46' '00:17:57'
 '00:05:56' '00:04:03' '00:01:51' '00:01:27' '00:00:56' '00:03:51'
 '00:20:10' '00:06:18' '00:01:28' '00:07:44' '00:02:49' '00:07:10'
 '00:03:22' '00:02:07' '00:02:20' '00:02:21' '00:02:09' '00:01:00'
 '00:00:28' '00:02:27' '00:11:28' '00:22:20' '00:03:00' '00:00:58'
 '00:01:41' '00:01:05' '00:01:23' '00:00:46' '00:00:17' '00:01:56'
 '00:03:03' '00:02:51' '00:05:12' '00:05:32' '00:10:23' '00:08:15'
 '00:06:57' '00:05:08' '00:00:35' '00:06:06' '00:02:18' '00:00:49'
 '00:12:51' '00:10:33' '00:17:23' '00:00:54' '00:05:54' '00:03:38'
 '00:02:55' '00:14:42' '00:00:45' '00:04:24' '00:02:01' '00:01:03'
 '00:04:36' '00:03:25' '00:05:58' '00:09:46' '00:05:03' '00:08:06'
 '00:02:38' '00:07:53' '00:01:24' '00:01:20' '00:05:21' '00:03:17'
 '00:01:45' '00:06:45' '00:01:04' '00:02:15' '00:03:15' '00:02:28'
 '00:18:08' '00:01:19' '00:01:49' '00:03:05' '00:01:43' '00:04:06'
 '00:01:07' '00:04:40' '00:08:44' '00:07:37' '00:17:56' '00:03:33'
 '00:05:34' '00:02:06' '00:04:16' '00:01:38' '00:00:55' '00:04:13'
 '00:04:20' '00:02:47' '00:01:48' '00:10:42' '00:15:54' '00:09:52'
 '00:06:25' '00:01:06' '00:03:44' '00:09:10' '00:01:29' '00:04:27'
 '00:11:57' '00:07:43' '00:03:48' '00:11:23' '00:03:29' '00:01:40'
 '00:02:16' '00:01:57' '00:20:52' '00:03:50' '00:18:24' '00:23:56'
 '00:08:30' '00:05:06' '00:07:46' '00:01:53' '00:04:32' '00:04:59'
 '00:06:35' '00:02:35' '00:04:51' '00:12:08' '00:12:03' '00:02:11'
 '00:11:38' '00:08:35' '00:03:56' '00:06:56' '00:06:43' '00:03:34'
 '00:02:17' '00:11:44' '00:05:51' '00:18:10' '00:08:42' '00:01:17'
 '00:02:12' '00:03:08' '00:02:03' '00:06:41' '00:05:27' '00:02:31'
 '00:13:03' '00:02:50' '00:02:00' '00:02:43' '00:04:38' '00:03:26'
 '00:04:47' '00:05:50' '00:11:07' '00:02:23' '00:02:42' '00:02:10'
 '00:05:45' '00:09:21' '00:01:34' '00:21:47' '00:11:03' '00:03:24'
 '00:17:52' '00:08:05' '00:03:07' '00:02:26' '00:08:13' '00:02:34'
 '00:03:12' '00:09:34' '00:03:21' '00:03:35' '00:02:40' '00:02:24'
 '00:06:14' '00:02:48' '00:02:30' '00:21:32' '00:22:57' '00:06:22'
 '00:02:22' '00:05:59' '00:22:45' '00:35:29' '00:07:04' '00:19:59'
 '00:05:22' '00:05:39' '00:13:26' '00:03:41' '00:09:37' '00:05:20'
 '00:06:44' '00:07:57' '00:09:23' '00:04:37' '00:21:18' '00:26:44'
 '00:04:39' '00:04:19' '00:08:07' '00:12:02' '00:03:20' '00:10:00'
 '00:13:04' '00:13:01' '00:14:14' '00:16:39' '00:28:50' '00:03:27'
 '00:09:54' '00:27:35' '00:01:47' '00:19:18' '00:04:28' '00:01:50'
 '00:23:22' '00:04:10' '00:08:09' '00:06:13' '00:02:14' '00:07:59'
 '00:12:58' '00:09:29' '00:09:16' '00:11:37' '00:07:02' '00:15:20'
 '00:04:18' '00:12:41' '00:04:58' '00:10:53' '00:18:33' '00:23:09'
 '00:05:19' '00:08:28' '00:16:23' '00:08:47' '00:18:32' '00:15:36'
 '00:28:22' '00:23:32' '00:19:36' '00:10:50' '00:03:57' '00:04:52'
 '00:08:19' '00:11:42' '00:08:16' '00:09:50' '00:10:26' '00:11:52'
 '00:05:47' '00:10:08' '00:04:53' '00:08:58' '00:05:09' '00:12:19'
 '00:06:33' '00:27:07' '00:03:52' '00:07:34' '00:07:54' '00:07:23'
 '00:05:01' '00:09:15' '00:12:50' '00:10:44' '00:05:40' '00:03:04'
 '00:03:46' '00:06:42' '00:04:48' '00:06:10' '00:18:45' '00:23:42'
 '00:03:55' '00:03:14' '00:09:38' '00:09:03' '00:02:59' '00:03:09'
 '00:07:07' '00:08:18' '00:04:33' '00:13:42' '00:07:25' '00:03:45'
 '00:07:35' '00:05:44' '00:06:29']

#### Unique call status (AOI)

In [554]:
A1['Call Status'].unique()

array(['Missed', 'Answered'], dtype=object)

In [555]:
A1['Call Status'] = A1['Call Status'].apply(
    lambda x: 'connected' if str(x).lower() == 'answered' else 'not connected'
)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\1189403410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A1['Call Status'] = A1['Call Status'].apply(

In [556]:
A1

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8338,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00
8339,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8340,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8341,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8342,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00

In [557]:
len(A1['Dialer Name'].unique())

72

In [558]:
A1['Dialer Name'].unique()

array(['533 Vandana', '596 Shambu', '502 Fahrukh', '520 Nair',
       '600 Yatin', '498 Ankita', '214 Shubham', '340 Vicky', '529 Nakul',
       '259 Khushboo', '210 Sankalp', '341 Bhavin', '601 Dharman',
       '497 Anjali', '265 Amrut', '475 Sushil', '501 Divya', 'rashmi',
       '569 Maaz', '514 Tarun', '298 Sujal', '262 Gourav', '264  Lakshmi',
       '258 shivansh', '614 Irfan', 'karan', '599 Aamir', '592 Aslam',
       '540 Kiran', '552 Sonal', '539 Divya', '412 Anuj', '577 Saurabh',
       '555 Aryan', '223 abhishek', '328 Anuj', 'arjun', '403 Rohit',
       '537 Mitali', '438 Jeh', '597 Suresh', '612 Sandeep', '580 Riddhi',
       '585Ritesh ', '18Prince ', '124Sachin ', '339ABHINAV ',
       '01Monica ', '13Ashutosh ', '88Waman ', '540Kiran P',
       '272Sangita ', 'Jason ', '251Chandan ', 'kamaljeet.k', 'namrata',
       'ravi', 'sameer.k', 'Deepa.negi', 'zaid.k', 'dhanraj', 'hritika',
       'ridhaan', 'pooja.k', 'ridansh', 'mudassar.n', 'arif.amin',
       'haseeb', 'glavin', 'asad.u', 'myron.f', 'srikanth.p'],
      dtype=object)

In [559]:
# Count the occurrences of each unique 'Dialer Name' and sort from highest to lowest
dialer_name_counts = A1['Dialer Name'].value_counts().sort_values(ascending=False)

print(dialer_name_counts)

Dialer Name
497 Anjali      303
596 Shambu      273
259 Khushboo    257
601 Dharman     236
214 Shubham     228
               ...
328 Anuj          2
577 Saurabh       2
Jason             2
540Kiran P        1
ridansh           1
Name: count, Length: 72, dtype: int64

In [560]:

combined_df_1 = A1[~A1['Dialer Name'].isin([None, '---'])]

combined_df_1.reset_index(drop=True, inplace=True)

combined_df_1

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8116,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00
8117,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8118,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8119,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8120,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00

In [561]:
combined_df_1

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time
0,Tata,2026-01-22,533 Vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00
1,Tata,2026-01-22,596 Shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00
2,Tata,2026-01-22,502 Fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00
3,Tata,2026-01-22,520 Nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00
4,Tata,2026-01-22,600 Yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00
...,...,...,...,...,...,...,...,...,...
8116,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00
8117,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00
8118,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00
8119,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00
8120,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00

In [562]:
ref_d = pd.read_csv('Tradex_Team_List_Data (3).csv')

In [563]:
os.getcwd()

'C:\\Users\\Akhil\\Downloads\\daily raw'

In [564]:
ref_d.nunique()

Dialer Name      215
Dialer             6
Email            108
Employee code    108
Full Name        108
Pool               9
TL                 6
Vertical           1
dtype: int64

In [565]:
ref= ref_d.copy()

In [566]:
ref = ref[~ref['Email'].str.contains('inactive', case=False, na=False)]

In [567]:
ref

,Dialer Name,Dialer,Email,Employee code,Full Name,Pool,TL,Vertical
0,223Abhishek,Knowlarity,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
1,223 Abhishek,Tata,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
2,412 Anuj,Tata,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,TradeX
3,403 Rohit,Tata,advit@nexora.live,E-1456,Rohit Goyal,Dialer,Kashif,TradeX
4,265Amrut,Knowlarity,amrut.s@nexora.live,E-1282,Amrut Shivaji,Pull back-WFH,Parth,TradeX
...,...,...,...,...,...,...,...,...
210,deepa.negi@nexora.live,Stringee,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,TradeX
211,272 sangita,Tata,sangita.m@nexora.live,E-1284,Sangita Mhanta,Dialer,Kashif,TradeX
212,arjun,Tata,arjun.u@nexora.live,U-1102,arjun,Dialer,NaN,TradeX
213,339abhinav,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX
214,zaid.k@naxora.live,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX

## Checkpoint_4

In [568]:
ref.nunique()

Dialer Name      215
Dialer             6
Email            108
Employee code    108
Full Name        108
Pool               9
TL                 6
Vertical           1
dtype: int64

In [569]:
for df in [ref, combined_df_1]:
    df['Dialer Name'] = (
        df['Dialer Name']
        .astype(str)  # Convert all values to strings
        .str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces with a single space
        .str.strip()  # Remove leading and trailing spaces
        .str.replace(r'@.*', '', regex=True)  # Remove everything from and after '@'
        .str.replace(r'\(.*', '', regex=True)  # Remove everything from and after '('
        .str.strip()  # Remove any trailing spaces left after replacements
        .str.lower()  # Convert all text to lowercase
    )

In [570]:
ref.shape

(215, 8)

In [571]:
ref.isnull().sum()

Dialer Name      0
Dialer           0
Email            0
Employee code    0
Full Name        0
Pool             2
TL               3
Vertical         0
dtype: int64

In [572]:
dup = ref[ref.duplicated(subset=['Dialer Name','Email'], keep=False)]
dup

,Dialer Name,Dialer,Email,Employee code,Full Name,Pool,TL,Vertical
15,idhant,Voiso,idhant@nexora.live,E-1629,Saim Khan,Referral Pool,Zaid,TradeX
16,idhant,Stringee,idhant@nexora.live,E-1629,Saim Khan,Referral Pool,Zaid,TradeX
33,ridansh,Voiso,ridansh@nexora.live,E-1646,Sagar,NaN,NaN,TradeX
34,ridansh,Stringee,ridansh@nexora.live,E-1646,Sagar,NaN,NaN,TradeX
36,ridhaan,Voiso,ridhaan@nexora.live,E-1492,Bhavesh,1,Saif,TradeX
37,ridhaan,Stringee,ridhaan@nexora.live,E-1492,Bhavesh,1,Saif,TradeX
108,bevi,Voiso,bevi@nexora.live,E-1382,Bevi,Pull Back,Parth,TradeX
115,dhrithi,Voiso,dhrithi@nexora.live,E-1635,Komal Dolwani,Retention,Parth,TradeX
121,haseeb,Voiso,haseeb@nexora.live,E-1002,Haseeb,Pull Back,Swathi,TradeX
122,hritika,Voiso,hritika@nexora.live,E-1637,Astha Tyagi,Pull Back,Parth,TradeX
123,hritika,Stringee,hritika@nexora.live,E-1637,Astha Tyagi,Pull Back,Parth,TradeX
130,karan,Voiso,karan@nexora.live,E-1221,Karan,Pull Back,Swathi,TradeX
133,majid,Voiso,majid@nexora.live,E-1056,Majid Bhatti,Pull Back,Swathi,TradeX
146,namrata,Voiso,namrata@nexora.live,E-1089,Namratha,Pull Back,Swathi,TradeX
150,ravi,Voiso,ravi@nexora.live,E-1076,Ravi,Pull Back,Swathi,TradeX
153,dhrithi,Stringee,dhrithi@nexora.live,E-1635,Komal Dolwani,Retention,Parth,TradeX
154,majid,Stringee,majid@nexora.live,E-1056,Majid Bhatti,Pull Back,Swathi,TradeX
156,haseeb,Stringee,haseeb@nexora.live,E-1002,Haseeb,Pull Back,Swathi,TradeX
159,ravi,Stringee,ravi@nexora.live,E-1076,Ravi,Pull Back,Swathi,TradeX
166,karan,Stringee,karan@nexora.live,E-1221,Karan,Pull Back,Swathi,TradeX
176,bevi,Stringee,bevi@nexora.live,E-1382,Bevi,Pull Back,Parth,TradeX
177,namrata,Stringee,namrata@nexora.live,E-1089,Namratha,Pull Back,Swathi,TradeX

In [573]:
ref = ref.drop_duplicates(subset=['Dialer Name','Email'])

In [574]:
ref.rename(columns={'Email': 'CRM ID'}, inplace=True)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\1673212834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ref.rename(columns={'Email': 'CRM ID'}, inplace=True)

In [575]:
ref

,Dialer Name,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,223abhishek,Knowlarity,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
1,223 abhishek,Tata,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
2,412 anuj,Tata,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,TradeX
3,403 rohit,Tata,advit@nexora.live,E-1456,Rohit Goyal,Dialer,Kashif,TradeX
4,265amrut,Knowlarity,amrut.s@nexora.live,E-1282,Amrut Shivaji,Pull back-WFH,Parth,TradeX
...,...,...,...,...,...,...,...,...
210,deepa.negi,Stringee,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,TradeX
211,272 sangita,Tata,sangita.m@nexora.live,E-1284,Sangita Mhanta,Dialer,Kashif,TradeX
212,arjun,Tata,arjun.u@nexora.live,U-1102,arjun,Dialer,NaN,TradeX
213,339abhinav,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX
214,zaid.k,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX

In [576]:
# Ensure 'Dialer Name' in both dataframes is treated as a string
combined_df_1['Dialer Name'] = combined_df_1['Dialer Name'].astype(str)
ref['Dialer Name'] = ref['Dialer Name'].astype(str)

# Merge the dataframes on 'Dialer Name'
combined_df_2 = combined_df_1.merge(ref, how='left', left_on='Dialer Name', right_on='Dialer Name')


combined_df_2

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3304304274.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ref['Dialer Name'] = ref['Dialer Name'].astype(str)

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,Tata,2026-01-22,533 vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00,TATA,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,TradeX
1,Tata,2026-01-22,596 shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00,Tata,shambu@nexora.live,E-1913,Shambu,OJT,Saif,TradeX
2,Tata,2026-01-22,502 fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00,Tata,fahrukh@nexora.live,E-1689,Firoj Shaikh,Meta,Radhika,TradeX
3,Tata,2026-01-22,520 nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00,Tata,nair@nexora.live,E-1706,Narendra Merotra,1,Saif,TradeX
4,Tata,2026-01-22,600 yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00,Tata,yatin@nexora.live,E-1906,Yatin,OJT,Saif,TradeX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8116,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8117,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8118,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8119,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8120,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX

In [577]:
# Filter rows where 'CRM ID' is null
crm_id_null_df = combined_df_2[combined_df_2['CRM ID'].isnull()]

In [578]:

crm_id_null_df['Dialer Name'].unique()

array(['jason'], dtype=object)

## check_point_5

In [579]:
source = crm_id_null_df.groupby('Source')['Dialer Name'].unique()
source

Source
Knowlarity    [jason]
Name: Dialer Name, dtype: object

In [580]:
crm_id_null_df.shape

(2, 16)

## Raw data

In [581]:
combined_df_2

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,Tata,2026-01-22,533 vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00,TATA,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,TradeX
1,Tata,2026-01-22,596 shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00,Tata,shambu@nexora.live,E-1913,Shambu,OJT,Saif,TradeX
2,Tata,2026-01-22,502 fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00,Tata,fahrukh@nexora.live,E-1689,Firoj Shaikh,Meta,Radhika,TradeX
3,Tata,2026-01-22,520 nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00,Tata,nair@nexora.live,E-1706,Narendra Merotra,1,Saif,TradeX
4,Tata,2026-01-22,600 yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00,Tata,yatin@nexora.live,E-1906,Yatin,OJT,Saif,TradeX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8116,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8117,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8118,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8119,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8120,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX

In [582]:
Dialers = combined_df_2[combined_df_2['CRM ID'].notnull() & combined_df_2['Talk Time'].notnull()].copy()

In [583]:
Dialers.isnull().sum()

Source                  0
Date                    0
Dialer Name             0
Number                  1
Call Status             0
Call Start Time         0
Total Call Duration     0
Talk Time               0
Hold Time               0
Dialer                  0
CRM ID                  0
Employee code           0
Full Name               0
Pool                    1
TL                     17
Vertical                0
dtype: int64

In [584]:
Dialers

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,Tata,2026-01-22,533 vandana,916005666496,not connected,16:38:11,00:00:04,00:00:00,00:00:00,TATA,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,TradeX
1,Tata,2026-01-22,596 shambu,919863547543,not connected,16:38:10,00:00:00,00:00:00,00:00:00,Tata,shambu@nexora.live,E-1913,Shambu,OJT,Saif,TradeX
2,Tata,2026-01-22,502 fahrukh,918054878127,not connected,16:38:06,00:00:00,00:00:00,00:00:00,Tata,fahrukh@nexora.live,E-1689,Firoj Shaikh,Meta,Radhika,TradeX
3,Tata,2026-01-22,520 nair,917850061932,not connected,16:38:00,00:00:00,00:00:00,00:00:00,Tata,nair@nexora.live,E-1706,Narendra Merotra,1,Saif,TradeX
4,Tata,2026-01-22,600 yatin,918248054855,not connected,16:37:57,00:00:07,00:00:00,00:00:00,Tata,yatin@nexora.live,E-1906,Yatin,OJT,Saif,TradeX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8116,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:18:51,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8117,Stringee,2026-01-22,srikanth.p,919811023053,not connected,08:17:12,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8118,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:14:53,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8119,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:11:03,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX
8120,Stringee,2026-01-22,srikanth.p,917037604186,not connected,08:10:32,0 days 00:00:00,00:00:00,00:00:00,Stringee,srikanth.p@nexora.live,E-1057,Srikanth Pothuganti,Pull Back,Swathi,TradeX

In [585]:
XXX = combined_df_2[combined_df_2['Date'].isnull()]
XXX

Empty DataFrame
Columns: [Source, Date, Dialer Name, Number, Call Status, Call Start Time, Total Call Duration, Talk Time, Hold Time, Dialer, CRM ID, Employee code, Full Name, Pool, TL, Vertical]
Index: []

In [586]:
Dialers.dtypes

Source                 object
Date                   object
Dialer Name            object
Number                 object
Call Status            object
Call Start Time        object
Total Call Duration    object
Talk Time              object
Hold Time              object
Dialer                 object
CRM ID                 object
Employee code          object
Full Name              object
Pool                   object
TL                     object
Vertical               object
dtype: object

In [587]:
from datetime import timedelta

Dialers['Date'] = pd.to_datetime(Dialers['Date'], format='%Y-%m-%d', errors='coerce')
# Ensure 'Call Start Time' is string and handle NaNs
Dialers['Call Start Time'] = Dialers['Call Start Time'].fillna('00:00:00').astype(str)

# Safely create datetime from date + time
Dialers['Call Start Time'] = pd.to_datetime(
    Dialers['Date'].dt.strftime('%Y-%m-%d') + ' ' + Dialers['Call Start Time'],
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)

# Convert durations
Dialers['Total Call Duration'] = Dialers['Total Call Duration'].apply(
    lambda x: pd.to_timedelta(x) if isinstance(x, str) else pd.Timedelta(0)
)

# Sort
Dialers = Dialers.sort_values(by=['Date', 'CRM ID', 'Call Start Time']).reset_index(drop=True)

# Init columns
Dialers['Call Gap'] = 'No'
Dialers['Gap Duration'] = '00:00:00'

# Define working hours
start_time = pd.to_datetime('09:30:00').time()
end_time = pd.to_datetime('18:30:00').time()

# Loop through to calculate gaps
for i in range(1, len(Dialers)):
    same_crm = Dialers.loc[i, 'CRM ID'] == Dialers.loc[i - 1, 'CRM ID']
    same_date = Dialers.loc[i, 'Date'] == Dialers.loc[i - 1, 'Date']  

    if same_crm and same_date:
        current_call = Dialers.loc[i, 'Call Start Time']
        previous_call = Dialers.loc[i - 1, 'Call Start Time']

        # Skip iteration if any Call Start Time is NaT
        if pd.isna(current_call) or pd.isna(previous_call):
            continue

        current_time = current_call.time()
        previous_time = previous_call.time()


        previous_end = Dialers.loc[i - 1, 'Call Start Time'] + Dialers.loc[i - 1, 'Total Call Duration']
        gap_duration = Dialers.loc[i, 'Call Start Time'] - previous_end

        if gap_duration.total_seconds() < 0:
            gap_duration = timedelta(0)

        # Store formatted gap
        total_seconds = int(gap_duration.total_seconds())
        hours = total_seconds // 3600
        minutes = (total_seconds % 3600) // 60
        seconds = total_seconds % 60
        Dialers.loc[i, 'Gap Duration'] = f"{hours:02}:{minutes:02}:{seconds:02}"

        # Set 'Call Gap' only if within working hours
        if start_time <= current_time <= end_time and start_time <= previous_time <= end_time:
            Dialers.loc[i, 'Call Gap'] = 'Yes' if gap_duration > timedelta(minutes=1) else 'No'

Dialers

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical,Call Gap,Gap Duration
0,Knowlarity,2026-01-22,339abhinav,'+917024024483,not connected,2026-01-22 08:15:19,0 days 00:00:18,00:00:00,0:0:0,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:00:00
1,Knowlarity,2026-01-22,339abhinav,'+917060198053,connected,2026-01-22 08:16:52,0 days 00:00:40,00:00:30,0:0:0,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:01:15
2,Knowlarity,2026-01-22,339abhinav,'+917049771122,not connected,2026-01-22 08:21:30,0 days 00:00:07,00:00:00,0:0:0,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:03:58
3,Knowlarity,2026-01-22,339abhinav,'+917049771122,not connected,2026-01-22 08:21:40,0 days 00:00:23,00:00:00,0:0:0,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:00:03
4,Knowlarity,2026-01-22,339abhinav,'+919322709871,not connected,2026-01-22 08:24:00,0 days 00:00:14,00:00:00,0:0:0,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:01:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,Stringee,2026-01-22,zaid.k,917724051959,not connected,2026-01-22 16:22:00,0 days 00:00:17,00:00:00,00:00:00,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,No,00:00:07
8115,Stringee,2026-01-22,zaid.k,917300071037,not connected,2026-01-22 16:25:15,0 days 00:00:36,00:00:00,00:00:00,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:02:58
8116,Stringee,2026-01-22,zaid.k,91917598422225,not connected,2026-01-22 16:33:28,0 days 00:00:00,00:00:00,00:00:00,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:07:37
8117,Stringee,2026-01-22,zaid.k,91917598422225,not connected,2026-01-22 16:34:54,0 days 00:00:00,00:00:00,00:00:00,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:01:26
8118,Stringee,2026-01-22,zaid.k,917598422225,not connected,2026-01-22 16:36:14,0 days 00:00:14,00:00:00,00:00:00,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:01:20

In [588]:
Dialers.columns

Index(['Source', 'Date', 'Dialer Name', 'Number', 'Call Status',
       'Call Start Time', 'Total Call Duration', 'Talk Time', 'Hold Time',
       'Dialer', 'CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL',
       'Vertical', 'Call Gap', 'Gap Duration'],
      dtype='object')

In [589]:

import pandas as pd

# Step 1: Convert datetime and timedelta columns
Dialers['Call Start Time'] = pd.to_datetime(Dialers['Call Start Time'])
Dialers['Talk Time'] = pd.to_timedelta(Dialers['Talk Time'])
Dialers['Total Call Duration'] = pd.to_timedelta(Dialers['Total Call Duration'])
Dialers['hour'] = Dialers['Call Start Time'].dt.hour

# Step 2: Define interval buckets
def get_interval(hour):
    if hour < 8: return '0 to 8 AM'
    elif hour < 9: return '8 to 9 AM'
    elif hour < 10: return '9 to 10 AM'
    elif hour < 11: return '10 to 11 AM'
    elif hour < 12: return '11 to 12 PM'
    elif hour < 13: return '12 to 13 PM'
    elif hour < 14: return '13 to 14 PM'
    elif hour < 15: return '14 to 15 PM'
    elif hour < 16: return '15 to 16 PM'
    elif hour < 17: return '16 to 17 PM'
    elif hour < 18: return '17 to 18 PM'
    elif hour < 19: return '18 to 19 PM'
    elif hour < 20: return '19 to 20 PM'
    else: return '20+'

Dialers['Interval'] = Dialers['hour'].apply(get_interval)

# Step 3: Create pivot for call counts
call_counts = pd.pivot_table(
    Dialers,
    index=['CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL'],
    columns='Interval',
    values='Date',  # any non-null column
    aggfunc='count',
    fill_value=0
)

# Step 4: Pivot for Talk Time and Total Call Duration
durations = pd.pivot_table(
    Dialers,
    index=['CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL'],
    columns='Interval',
    values=['Talk Time', 'Total Call Duration'],
    aggfunc='sum',
    fill_value=pd.Timedelta(0)
)


unique_calls = pd.pivot_table(
    Dialers,
    index=['CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL'],
    columns='Interval',
    values='Number',
    aggfunc=pd.Series.nunique,
    fill_value=0
)
unique_calls.columns = [f'{col} - Unique Calls' for col in unique_calls.columns]
# Step 5: Format the timedelta columns as hh:mm:ss
durations = durations.applymap(lambda x: str(x) if pd.notnull(x) else '00:00:00')

# Step 6: Flatten column names
call_counts.columns = [f'{col} - Calls' for col in call_counts.columns]
durations.columns = [f'{interval} - {metric}' for metric, interval in durations.columns]

# Step 7: Combine everything
final_df_cre = pd.concat([call_counts, unique_calls, durations], axis=1).reset_index()

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2827826097.py:59: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  durations = durations.applymap(lambda x: str(x) if pd.notnull(x) else '00:00:00')

## Adding unique dialers

In [590]:
# Combine all: call counts, durations, and unique dialers
final_df_cre = pd.concat([call_counts, durations, unique_calls], axis=1).reset_index()

In [591]:
final_df_cre.columns

Index(['CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL',
       '0 to 8 AM - Calls', '10 to 11 AM - Calls', '11 to 12 PM - Calls',
       '12 to 13 PM - Calls', '13 to 14 PM - Calls', '14 to 15 PM - Calls',
       '15 to 16 PM - Calls', '16 to 17 PM - Calls', '8 to 9 AM - Calls',
       '9 to 10 AM - Calls', '0 to 8 AM - Talk Time',
       '10 to 11 AM - Talk Time', '11 to 12 PM - Talk Time',
       '12 to 13 PM - Talk Time', '13 to 14 PM - Talk Time',
       '14 to 15 PM - Talk Time', '15 to 16 PM - Talk Time',
       '16 to 17 PM - Talk Time', '8 to 9 AM - Talk Time',
       '9 to 10 AM - Talk Time', '0 to 8 AM - Total Call Duration',
       '10 to 11 AM - Total Call Duration',
       '11 to 12 PM - Total Call Duration',
       '12 to 13 PM - Total Call Duration',
       '13 to 14 PM - Total Call Duration',
       '14 to 15 PM - Total Call Duration',
       '15 to 16 PM - Total Call Duration',
       '16 to 17 PM - Total Call Duration', '8 to 9 AM - Total Call Duration',
       '9 to 10 AM - Total Call Duration', '0 to 8 AM - Unique Calls',
       '10 to 11 AM - Unique Calls', '11 to 12 PM - Unique Calls',
       '12 to 13 PM - Unique Calls', '13 to 14 PM - Unique Calls',
       '14 to 15 PM - Unique Calls', '15 to 16 PM - Unique Calls',
       '16 to 17 PM - Unique Calls', '8 to 9 AM - Unique Calls',
       '9 to 10 AM - Unique Calls'],
      dtype='object')

In [592]:
final_df_cre

,CRM ID,Employee code,Full Name,Pool,TL,0 to 8 AM - Calls,10 to 11 AM - Calls,11 to 12 PM - Calls,12 to 13 PM - Calls,13 to 14 PM - Calls,...,0 to 8 AM - Unique Calls,10 to 11 AM - Unique Calls,11 to 12 PM - Unique Calls,12 to 13 PM - Unique Calls,13 to 14 PM - Unique Calls,14 to 15 PM - Unique Calls,15 to 16 PM - Unique Calls,16 to 17 PM - Unique Calls,8 to 9 AM - Unique Calls,9 to 10 AM - Unique Calls
0,Abhinav.a.live,E-1356,Abhinav,1,Saif,0,15,23,30,23,...,0,14,19,29,22,18,19,13,17,23
1,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,0,24,35,30,23,...,0,13,26,25,16,9,17,13,8,3
2,aamir@nexora.live,E-1911,Aamir,OJT,Saif,0,4,0,1,0,...,0,2,0,1,0,0,1,2,7,5
3,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,0,18,11,0,0,...,0,12,7,0,0,0,0,0,7,5
4,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,0,3,2,1,0,...,0,3,1,1,0,0,0,0,13,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,0,0,0,0,0,...,0,0,0,0,0,0,2,19,17,14
64,vicky.v@nexora.live,E-1167,Vishal,Pull back-WFH,Parth,1,16,18,19,17,...,1,16,18,19,17,22,30,24,7,32
65,waman@nexora.live,E-1252,Waman Avhad,1,Saif,0,28,37,15,2,...,0,23,28,12,1,22,16,12,29,23
66,yatin@nexora.live,E-1906,Yatin,OJT,Saif,0,0,0,0,0,...,0,0,0,0,0,0,0,21,2,6
67,zaid.k@naxora.live,E-1275,Zaid,1,Saif,0,24,24,22,8,...,0,20,22,17,6,16,14,10,24,15

In [593]:
import re
invalid_values = []

# Function to convert mixed formats to seconds
def to_seconds(value):
    try:
        if isinstance(value, pd.Timedelta):
            return int(value.total_seconds())  # Convert timedelta to seconds
        elif re.match(r"^\d{1,2}:\d{1,2}:\d{1,2}$", str(value)):
            parts = list(map(int, value.split(':')))
            while len(parts) < 3:
                parts.insert(0, 0)  
            return parts[0] * 3600 + parts[1] * 60 + parts[2]
        elif str(value).isdigit():
            return int(value)
        else:
            invalid_values.append(value)
            return value
    except Exception:
        invalid_values.append(value)
        return value

# Replace missing values with empty strings
Dialers['Talk Time'] = Dialers['Talk Time'].fillna('')
Dialers['Hold Time'] = Dialers['Hold Time'].fillna('')
Dialers['Total Call Duration'] = Dialers['Total Call Duration'].fillna('')
Dialers['Gap Duration'] = Dialers['Gap Duration'].fillna('')

# Convert Talk Time, Hold Time, and Total Call Duration to seconds
Dialers['Talk Time (seconds)'] = Dialers['Talk Time'].apply(to_seconds)
Dialers['Hold Time (seconds)'] = Dialers['Hold Time'].apply(to_seconds)
Dialers['Total Duration (seconds)'] = Dialers['Total Call Duration'].apply(to_seconds)
Dialers['Gap Duration (seconds)'] = Dialers['Gap Duration'].apply(to_seconds)

# Notify invalid values
if invalid_values:
    print("Invalid values found in 'Talk Time', 'Total Call Duration', or 'Hold Time':, or 'Call Gap Duration':")
    print(invalid_values)

In [594]:
Dialers.columns

Index(['Source', 'Date', 'Dialer Name', 'Number', 'Call Status',
       'Call Start Time', 'Total Call Duration', 'Talk Time', 'Hold Time',
       'Dialer', 'CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL',
       'Vertical', 'Call Gap', 'Gap Duration', 'hour', 'Interval',
       'Talk Time (seconds)', 'Hold Time (seconds)',
       'Total Duration (seconds)', 'Gap Duration (seconds)'],
      dtype='object')

In [595]:
Dialers.isnull().sum()

Source                       0
Date                         0
Dialer Name                  0
Number                       1
Call Status                  0
Call Start Time              0
Total Call Duration          0
Talk Time                    0
Hold Time                    0
Dialer                       0
CRM ID                       0
Employee code                0
Full Name                    0
Pool                         1
TL                          17
Vertical                     0
Call Gap                     0
Gap Duration                 0
hour                         0
Interval                     0
Talk Time (seconds)          0
Hold Time (seconds)          0
Total Duration (seconds)     0
Gap Duration (seconds)       0
dtype: int64

In [596]:
# Group by 'CRM ID' and 'Date' and calculate 
A = Dialers.groupby(['CRM ID', 'Date']).agg(
    Total_Dialed_Calls=('Call Status', 'count'),
    Unique_Dialed_Numbers=('Number', 'nunique'),
    Total_Connected_Calls=('Call Status', lambda x: (x == 'connected').sum()),
    Total_Number_of_Call_Gap=('Call Gap', lambda x: (x == 'Yes').sum()),
    Total_Call_GT_30=('Talk Time (seconds)', lambda x: ((Dialers.loc[x.index, 'Call Status'] == 'connected') & (x > 30)).sum()),
    Total_Duration=('Total Duration (seconds)', 'sum'),
    Total_Talk_Time=('Talk Time (seconds)', lambda x: x[Dialers.loc[x.index, 'Call Status'] == 'connected'].sum()),
    Total_Talk_Time_GT_30=('Talk Time (seconds)', lambda x: x[(Dialers.loc[x.index, 'Call Status'] == 'connected') & (x > 30)].sum()),
    Total_Connected_Hold_Time=('Hold Time (seconds)', lambda x: x[Dialers.loc[x.index, 'Call Status'] == 'connected'].sum()), 
    Total_Gap_Duration=('Gap Duration (seconds)', 'sum')
).reset_index()

# Fix: Subtract 1hr only if greater, else keep the original value
A['Total_Gap_Duration'] = A['Total_Gap_Duration'].apply(lambda x: x - 3600 if x > 3600 else x)


A['Avg_Gap_per_call'] = A['Total_Gap_Duration'] / A['Total_Dialed_Calls']

# New: Gap Duration After Leverage (give 45 seconds per call, subtract from actual gap used, add to 0 if negative)
A['Gap Duration After Leverage'] = (A['Total_Gap_Duration'] - (A['Total_Dialed_Calls'] * 45)).clip(lower=0)

# Recalculate Login Hours after updated gap
A['Login Hours'] = A['Total_Duration'] + A['Total_Gap_Duration'] + 3600
A['Login Hours'] = pd.to_timedelta(A['Login Hours'], unit='s')
A['Login Hours'] = A['Login Hours'].apply(lambda x: str(x).split()[-1])

# Convert 'Login Hours' string (hh:mm:ss) to timedelta
A['Login Hours (Timedelta)'] = pd.to_timedelta(A['Login Hours'])

# Defining attendance logic
def mark_attendance(td):
    if td < pd.Timedelta(hours=4, minutes=30):
        return 'Absent'
    elif td < pd.Timedelta(hours=6):
        return 'Half Day'
    elif td < pd.Timedelta(hours=8, minutes=30):
        return 'Warning'
    else:
        return 'Present'


A['Attendance'] = A['Login Hours (Timedelta)'].apply(mark_attendance)


A.drop(columns='Login Hours (Timedelta)', inplace=True)


A

,CRM ID,Date,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,Total_Number_of_Call_Gap,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours,Attendance
0,Abhinav.a.live,2026-01-22,196,171,33,98,16,4851,1708,1518,0,21352,108.938776,12532,08:16:43,Warning
1,Deepa.negi@nexora.live,2026-01-22,179,120,34,54,20,8101,4364,4151,0,18070,100.949721,10015,08:16:11,Warning
2,aamir@nexora.live,2026-01-22,21,18,6,4,4,1014,679,649,0,21782,1037.238095,20837,07:19:56,Warning
3,abhishek.k@nexora.live,2026-01-22,53,28,16,9,12,5040,3923,3871,0,5203,98.169811,2818,03:50:43,Absent
4,adharv@nexora.live,2026-01-22,35,27,10,4,7,2085,1383,1366,0,8950,255.714286,7375,04:03:55,Absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,vandana.g@nexora.live,2026-01-22,57,49,16,7,11,2618,1665,1586,0,23097,405.210526,20532,08:08:35,Warning
66,vicky.v@nexora.live,2026-01-22,191,184,50,79,17,5727,2179,1863,0,22053,115.460733,13458,08:43:00,Present
67,waman@nexora.live,2026-01-22,197,159,24,53,13,8195,3471,3351,0,17797,90.340102,8932,08:13:12,Warning
68,yatin@nexora.live,2026-01-22,29,28,2,7,1,424,77,75,0,24068,829.931034,22763,07:48:12,Warning
69,zaid.k@naxora.live,2026-01-22,172,137,34,87,13,6071,2370,2123,0,20792,120.883721,13052,08:27:43,Warning

In [597]:
AB = A['Attendance'].unique()
AB

array(['Warning', 'Absent', 'Present', 'Half Day'], dtype=object)

In [598]:
ref

,Dialer Name,Dialer,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,223abhishek,Knowlarity,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
1,223 abhishek,Tata,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
2,412 anuj,Tata,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,TradeX
3,403 rohit,Tata,advit@nexora.live,E-1456,Rohit Goyal,Dialer,Kashif,TradeX
4,265amrut,Knowlarity,amrut.s@nexora.live,E-1282,Amrut Shivaji,Pull back-WFH,Parth,TradeX
...,...,...,...,...,...,...,...,...
210,deepa.negi,Stringee,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,TradeX
211,272 sangita,Tata,sangita.m@nexora.live,E-1284,Sangita Mhanta,Dialer,Kashif,TradeX
212,arjun,Tata,arjun.u@nexora.live,U-1102,arjun,Dialer,NaN,TradeX
213,339abhinav,Tata,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX
214,zaid.k,Stringee,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX

In [599]:
# Filter unique CRM ID and select specific columns
unique_crm_ref = ref.drop_duplicates(subset=['CRM ID'])[['CRM ID','Employee code', 'Full Name','Pool', 'TL','Vertical']]

unique_crm_ref

,CRM ID,Employee code,Full Name,Pool,TL,Vertical
0,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX
2,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,TradeX
3,advit@nexora.live,E-1456,Rohit Goyal,Dialer,Kashif,TradeX
4,amrut.s@nexora.live,E-1282,Amrut Shivaji,Pull back-WFH,Parth,TradeX
5,ashutosh@nexora.live,E-1253,Ashutosh Singh,1,Saif,TradeX
...,...,...,...,...,...,...
207,irfan@nexora.live,E-1656,Irfan,Dialer,Kashif,TradeX
208,shivansh.s@nexora.live,E-1278,Shivansh A,Pull back-WFH,Parth,TradeX
212,arjun.u@nexora.live,U-1102,arjun,Dialer,NaN,TradeX
213,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX
214,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX

In [600]:
# Extract unique dates from DataFrame A
all_dates = A['Date'].unique()

# Create a DataFrame with all CRM IDs from unique_crm_ref and all dates
date_crm_combinations = pd.MultiIndex.from_product(
    [unique_crm_ref['CRM ID'], all_dates],
    names=['CRM ID', 'Date']
).to_frame(index=False)



merged = date_crm_combinations.merge(
    A,
    how='left',
    on=['CRM ID', 'Date']
).fillna(0)

In [601]:
merged

,CRM ID,Date,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,Total_Number_of_Call_Gap,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours,Attendance
0,abhishek.k@nexora.live,2026-01-22,53.0,28.0,16.0,9.0,12.0,5040.0,3923.0,3871.0,0.0,5203.0,98.169811,2818.0,03:50:43,Absent
1,adharv@nexora.live,2026-01-22,35.0,27.0,10.0,4.0,7.0,2085.0,1383.0,1366.0,0.0,8950.0,255.714286,7375.0,04:03:55,Absent
2,advit@nexora.live,2026-01-22,52.0,47.0,7.0,2.0,4.0,1677.0,904.0,870.0,0.0,773.0,14.865385,0.0,01:40:50,Absent
3,amrut.s@nexora.live,2026-01-22,74.0,52.0,20.0,55.0,7.0,2331.0,718.0,560.0,0.0,24319.0,328.635135,20989.0,08:24:10,Warning
4,ashutosh@nexora.live,2026-01-22,101.0,79.0,38.0,50.0,21.0,5989.0,4223.0,3969.0,0.0,19847.0,196.504950,15302.0,08:10:36,Warning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,irfan@nexora.live,2026-01-22,55.0,55.0,8.0,1.0,4.0,2119.0,845.0,774.0,0.0,22894.0,416.254545,20419.0,07:56:53,Warning
104,shivansh.s@nexora.live,2026-01-22,132.0,61.0,8.0,81.0,5.0,1215.0,528.0,516.0,0.0,23369.0,177.037879,17429.0,07:49:44,Warning
105,arjun.u@nexora.live,2026-01-22,16.0,13.0,9.0,4.0,8.0,1641.0,1323.0,1299.0,0.0,5900.0,368.750000,5180.0,03:05:41,Absent
106,Abhinav.a.live,2026-01-22,196.0,171.0,33.0,98.0,16.0,4851.0,1708.0,1518.0,0.0,21352.0,108.938776,12532.0,08:16:43,Warning
107,zaid.k@naxora.live,2026-01-22,172.0,137.0,34.0,87.0,13.0,6071.0,2370.0,2123.0,0.0,20792.0,120.883721,13052.0,08:27:43,Warning

In [602]:
# Outer-merge with unique_crm_ref to retain all CRM IDs
merged_df = unique_crm_ref.merge(
    merged,
    how='outer',
    on='CRM ID'
)

In [603]:
merged_df

,CRM ID,Employee code,Full Name,Pool,TL,Vertical,Date,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,...,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours,Attendance
0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,2026-01-22,196.0,171.0,33.0,...,16.0,4851.0,1708.0,1518.0,0.0,21352.0,108.938776,12532.0,08:16:43,Warning
1,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,TradeX,2026-01-22,179.0,120.0,34.0,...,20.0,8101.0,4364.0,4151.0,0.0,18070.0,100.949721,10015.0,08:16:11,Warning
2,aamir@nexora.live,E-1911,Aamir,OJT,Saif,TradeX,2026-01-22,21.0,18.0,6.0,...,4.0,1014.0,679.0,649.0,0.0,21782.0,1037.238095,20837.0,07:19:56,Warning
3,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,TradeX,2026-01-22,53.0,28.0,16.0,...,12.0,5040.0,3923.0,3871.0,0.0,5203.0,98.169811,2818.0,03:50:43,Absent
4,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,TradeX,2026-01-22,35.0,27.0,10.0,...,7.0,2085.0,1383.0,1366.0,0.0,8950.0,255.714286,7375.0,04:03:55,Absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,vandana@nexora.live,E - 1677,Vandana,Dialer,Kashif,TradeX,2026-01-22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0,0
104,vicky.v@nexora.live,E-1167,Vishal,Pull back-WFH,Parth,TradeX,2026-01-22,191.0,184.0,50.0,...,17.0,5727.0,2179.0,1863.0,0.0,22053.0,115.460733,13458.0,08:43:00,Present
105,waman@nexora.live,E-1252,Waman Avhad,1,Saif,TradeX,2026-01-22,197.0,159.0,24.0,...,13.0,8195.0,3471.0,3351.0,0.0,17797.0,90.340102,8932.0,08:13:12,Warning
106,yatin@nexora.live,E-1906,Yatin,OJT,Saif,TradeX,2026-01-22,29.0,28.0,2.0,...,1.0,424.0,77.0,75.0,0.0,24068.0,829.931034,22763.0,07:48:12,Warning
107,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,2026-01-22,172.0,137.0,34.0,...,13.0,6071.0,2370.0,2123.0,0.0,20792.0,120.883721,13052.0,08:27:43,Warning

In [604]:
# Replace NaN or missing values with 0
columns_to_format = ['Total_Dialed_Calls', 'Unique_Dialed_Numbers','Total_Connected_Calls','Total_Number_of_Call_Gap', 'Total_Call_GT_30','Total_Duration','Total_Talk_Time','Total_Talk_Time_GT_30','Total_Connected_Hold_Time','Total_Gap_Duration']
merged_df[columns_to_format] = merged_df[columns_to_format].fillna(0)

# Convert specified columns to integers
merged_df[columns_to_format] = merged_df[columns_to_format].astype(int)

# Reorder columns
formatted_df = merged_df[['Date', 'Pool', 'TL', 'CRM ID','Employee code', 'Full Name', 'Vertical'] + [col for col in merged_df.columns if col not in ['Date', 'Pool', 'TL', 'CRM ID','Employee code', 'Full Name', 'Vertical']]]

formatted_df

,Date,Pool,TL,CRM ID,Employee code,Full Name,Vertical,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,...,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours,Attendance
0,2026-01-22,1,Saif,Abhinav.a.live,E-1356,Abhinav,TradeX,196,171,33,...,16,4851,1708,1518,0,21352,108.938776,12532.0,08:16:43,Warning
1,2026-01-22,Meta,Radhika,Deepa.negi@nexora.live,E-1443,Suja Basnet,TradeX,179,120,34,...,20,8101,4364,4151,0,18070,100.949721,10015.0,08:16:11,Warning
2,2026-01-22,OJT,Saif,aamir@nexora.live,E-1911,Aamir,TradeX,21,18,6,...,4,1014,679,649,0,21782,1037.238095,20837.0,07:19:56,Warning
3,2026-01-22,Meta,Radhika,abhishek.k@nexora.live,E-1266,Abhishek Kumar,TradeX,53,28,16,...,12,5040,3923,3871,0,5203,98.169811,2818.0,03:50:43,Absent
4,2026-01-22,Dialer,Kashif,adharv@nexora.live,E-1460,Anuj Saini,TradeX,35,27,10,...,7,2085,1383,1366,0,8950,255.714286,7375.0,04:03:55,Absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2026-01-22,Dialer,Kashif,vandana@nexora.live,E - 1677,Vandana,TradeX,0,0,0,...,0,0,0,0,0,0,0.000000,0.0,0,0
104,2026-01-22,Pull back-WFH,Parth,vicky.v@nexora.live,E-1167,Vishal,TradeX,191,184,50,...,17,5727,2179,1863,0,22053,115.460733,13458.0,08:43:00,Present
105,2026-01-22,1,Saif,waman@nexora.live,E-1252,Waman Avhad,TradeX,197,159,24,...,13,8195,3471,3351,0,17797,90.340102,8932.0,08:13:12,Warning
106,2026-01-22,OJT,Saif,yatin@nexora.live,E-1906,Yatin,TradeX,29,28,2,...,1,424,77,75,0,24068,829.931034,22763.0,07:48:12,Warning
107,2026-01-22,1,Saif,zaid.k@naxora.live,E-1275,Zaid,TradeX,172,137,34,...,13,6071,2370,2123,0,20792,120.883721,13052.0,08:27:43,Warning

In [605]:
formatted_df.isnull().sum()

Date                           0
Pool                           1
TL                             2
CRM ID                         0
Employee code                  0
Full Name                      0
Vertical                       0
Total_Dialed_Calls             0
Unique_Dialed_Numbers          0
Total_Connected_Calls          0
Total_Number_of_Call_Gap       0
Total_Call_GT_30               0
Total_Duration                 0
Total_Talk_Time                0
Total_Talk_Time_GT_30          0
Total_Connected_Hold_Time      0
Total_Gap_Duration             0
Avg_Gap_per_call               0
Gap Duration After Leverage    0
Login Hours                    0
Attendance                     0
dtype: int64

In [606]:
from datetime import timedelta

def seconds_to_hhmmss(seconds):
    total_seconds = round(seconds)
    hours = total_seconds // 3600
    remaining = total_seconds % 3600
    minutes = remaining // 60
    seconds = remaining % 60
    return f"{hours:02}:{minutes:02}:{seconds:02}"  # hh:mm:ss


columns_to_convert = [
    'Total_Duration', 
    'Total_Talk_Time', 
    'Total_Talk_Time_GT_30', 
    'Total_Connected_Hold_Time', 
    'Total_Gap_Duration',
    'Avg_Gap_per_call',
    'Gap Duration After Leverage'
]

for col in columns_to_convert:
    formatted_df[col] = formatted_df[col].apply(seconds_to_hhmmss)

In [607]:
formatted_df = formatted_df.sort_values(by=['Date','CRM ID'])

In [608]:
formatted_df

,Date,Pool,TL,CRM ID,Employee code,Full Name,Vertical,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,...,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours,Attendance
0,2026-01-22,1,Saif,Abhinav.a.live,E-1356,Abhinav,TradeX,196,171,33,...,16,01:20:51,00:28:28,00:25:18,00:00:00,05:55:52,00:01:49,03:28:52,08:16:43,Warning
1,2026-01-22,Meta,Radhika,Deepa.negi@nexora.live,E-1443,Suja Basnet,TradeX,179,120,34,...,20,02:15:01,01:12:44,01:09:11,00:00:00,05:01:10,00:01:41,02:46:55,08:16:11,Warning
2,2026-01-22,OJT,Saif,aamir@nexora.live,E-1911,Aamir,TradeX,21,18,6,...,4,00:16:54,00:11:19,00:10:49,00:00:00,06:03:02,00:17:17,05:47:17,07:19:56,Warning
3,2026-01-22,Meta,Radhika,abhishek.k@nexora.live,E-1266,Abhishek Kumar,TradeX,53,28,16,...,12,01:24:00,01:05:23,01:04:31,00:00:00,01:26:43,00:01:38,00:46:58,03:50:43,Absent
4,2026-01-22,Dialer,Kashif,adharv@nexora.live,E-1460,Anuj Saini,TradeX,35,27,10,...,7,00:34:45,00:23:03,00:22:46,00:00:00,02:29:10,00:04:16,02:02:55,04:03:55,Absent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2026-01-22,Dialer,Kashif,vandana@nexora.live,E - 1677,Vandana,TradeX,0,0,0,...,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0,0
104,2026-01-22,Pull back-WFH,Parth,vicky.v@nexora.live,E-1167,Vishal,TradeX,191,184,50,...,17,01:35:27,00:36:19,00:31:03,00:00:00,06:07:33,00:01:55,03:44:18,08:43:00,Present
105,2026-01-22,1,Saif,waman@nexora.live,E-1252,Waman Avhad,TradeX,197,159,24,...,13,02:16:35,00:57:51,00:55:51,00:00:00,04:56:37,00:01:30,02:28:52,08:13:12,Warning
106,2026-01-22,OJT,Saif,yatin@nexora.live,E-1906,Yatin,TradeX,29,28,2,...,1,00:07:04,00:01:17,00:01:15,00:00:00,06:41:08,00:13:50,06:19:23,07:48:12,Warning
107,2026-01-22,1,Saif,zaid.k@naxora.live,E-1275,Zaid,TradeX,172,137,34,...,13,01:41:11,00:39:30,00:35:23,00:00:00,05:46:32,00:02:01,03:37:32,08:27:43,Warning

In [609]:
formatted_df['Attendance'].unique()

array(['Warning', 'Absent', 0, 'Present', 'Half Day'], dtype=object)

In [610]:

formatted_df['Login Hours'] = formatted_df['Login Hours'].apply(lambda x: '00:00:00' if x == 0 else x)

formatted_df['Attendance'] = formatted_df['Attendance'].apply(lambda x: 'Absent' if x == 0 else x)

In [611]:
formatted_df.columns

Index(['Date', 'Pool', 'TL', 'CRM ID', 'Employee code', 'Full Name',
       'Vertical', 'Total_Dialed_Calls', 'Unique_Dialed_Numbers',
       'Total_Connected_Calls', 'Total_Number_of_Call_Gap', 'Total_Call_GT_30',
       'Total_Duration', 'Total_Talk_Time', 'Total_Talk_Time_GT_30',
       'Total_Connected_Hold_Time', 'Total_Gap_Duration', 'Avg_Gap_per_call',
       'Gap Duration After Leverage', 'Login Hours', 'Attendance'],
      dtype='object')

In [612]:
formatted_df.drop(columns=['Attendance'],inplace=True)
formatted_df

,Date,Pool,TL,CRM ID,Employee code,Full Name,Vertical,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,Total_Number_of_Call_Gap,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours
0,2026-01-22,1,Saif,Abhinav.a.live,E-1356,Abhinav,TradeX,196,171,33,98,16,01:20:51,00:28:28,00:25:18,00:00:00,05:55:52,00:01:49,03:28:52,08:16:43
1,2026-01-22,Meta,Radhika,Deepa.negi@nexora.live,E-1443,Suja Basnet,TradeX,179,120,34,54,20,02:15:01,01:12:44,01:09:11,00:00:00,05:01:10,00:01:41,02:46:55,08:16:11
2,2026-01-22,OJT,Saif,aamir@nexora.live,E-1911,Aamir,TradeX,21,18,6,4,4,00:16:54,00:11:19,00:10:49,00:00:00,06:03:02,00:17:17,05:47:17,07:19:56
3,2026-01-22,Meta,Radhika,abhishek.k@nexora.live,E-1266,Abhishek Kumar,TradeX,53,28,16,9,12,01:24:00,01:05:23,01:04:31,00:00:00,01:26:43,00:01:38,00:46:58,03:50:43
4,2026-01-22,Dialer,Kashif,adharv@nexora.live,E-1460,Anuj Saini,TradeX,35,27,10,4,7,00:34:45,00:23:03,00:22:46,00:00:00,02:29:10,00:04:16,02:02:55,04:03:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2026-01-22,Dialer,Kashif,vandana@nexora.live,E - 1677,Vandana,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
104,2026-01-22,Pull back-WFH,Parth,vicky.v@nexora.live,E-1167,Vishal,TradeX,191,184,50,79,17,01:35:27,00:36:19,00:31:03,00:00:00,06:07:33,00:01:55,03:44:18,08:43:00
105,2026-01-22,1,Saif,waman@nexora.live,E-1252,Waman Avhad,TradeX,197,159,24,53,13,02:16:35,00:57:51,00:55:51,00:00:00,04:56:37,00:01:30,02:28:52,08:13:12
106,2026-01-22,OJT,Saif,yatin@nexora.live,E-1906,Yatin,TradeX,29,28,2,7,1,00:07:04,00:01:17,00:01:15,00:00:00,06:41:08,00:13:50,06:19:23,07:48:12
107,2026-01-22,1,Saif,zaid.k@naxora.live,E-1275,Zaid,TradeX,172,137,34,87,13,01:41:11,00:39:30,00:35:23,00:00:00,05:46:32,00:02:01,03:37:32,08:27:43

In [613]:
formatted_df = formatted_df.sort_values(by='TL')
formatted_df

,Date,Pool,TL,CRM ID,Employee code,Full Name,Vertical,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,Total_Number_of_Call_Gap,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours
53,2026-01-22,Dialer,Kashif,mayank@nexora.live,E-1718,Manish Rajbhar,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
70,2026-01-22,Dialer,Kashif,navish@nexora.live,E-1495,navish,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
75,2026-01-22,Dialer,Kashif,raj@nexora.live,E-1685,Rohit,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
84,2026-01-22,Dialer,Kashif,sagar.t@nexora.live,E-1292,Sagar Thakur,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
57,2026-01-22,Dialer,Kashif,mitali@nexora.live,E-1717,Manasvi Tiwari,TradeX,72,55,20,1,7,00:40:02,00:14:13,00:11:36,00:00:00,00:27:40,00:00:23,00:00:00,02:07:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,2026-01-22,Referral Pool,Zaid,charan@nexora.live,E-1700,Chirag Sharma,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
16,2026-01-22,Welcome Calling,Zaid,ashpreet.k@nexora.live,E-1069,Ashpreet,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
38,2026-01-22,Referral Pool,Zaid,heer@nexora.live,E-1753,Hiteshree Rana,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
13,2026-01-22,Dialer,NaN,arjun.u@nexora.live,U-1102,arjun,TradeX,16,13,9,4,8,00:27:21,00:22:03,00:21:39,00:00:00,01:38:20,00:06:09,01:26:20,03:05:41
79,2026-01-22,NaN,NaN,ridansh@nexora.live,E-1646,Sagar,TradeX,1,1,1,0,1,00:18:41,00:18:33,00:18:33,00:00:00,00:00:00,00:00:00,00:00:00,01:18:41

In [614]:
# Convert 'Total Call Duration' to hh:mm:ss format
Dialers["Total Call Duration"] = Dialers["Total Call Duration"].apply(lambda x: str(x).split(" ")[-1])
Dialers['Number'] = "'" + Dialers['Number'].astype(str)

In [615]:
D = Dialers.drop(columns=['Talk Time (seconds)','Hold Time (seconds)','Total Duration (seconds)','Gap Duration (seconds)','Dialer'])
D['Number'] = D['Number'].astype(str).str.split('.').str[0]
D

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,CRM ID,Employee code,Full Name,Pool,TL,Vertical,Call Gap,Gap Duration,hour,Interval
0,Knowlarity,2026-01-22,339abhinav,''+917024024483,not connected,2026-01-22 08:15:19,00:00:18,0 days 00:00:00,0:0:0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:00:00,8,8 to 9 AM
1,Knowlarity,2026-01-22,339abhinav,''+917060198053,connected,2026-01-22 08:16:52,00:00:40,0 days 00:00:30,0:0:0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:01:15,8,8 to 9 AM
2,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:30,00:00:07,0 days 00:00:00,0:0:0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:03:58,8,8 to 9 AM
3,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:40,00:00:23,0 days 00:00:00,0:0:0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:00:03,8,8 to 9 AM
4,Knowlarity,2026-01-22,339abhinav,''+919322709871,not connected,2026-01-22 08:24:00,00:00:14,0 days 00:00:00,0:0:0,Abhinav.a.live,E-1356,Abhinav,1,Saif,TradeX,No,00:01:57,8,8 to 9 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,Stringee,2026-01-22,zaid.k,'917724051959,not connected,2026-01-22 16:22:00,00:00:17,0 days 00:00:00,00:00:00,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,No,00:00:07,16,16 to 17 PM
8115,Stringee,2026-01-22,zaid.k,'917300071037,not connected,2026-01-22 16:25:15,00:00:36,0 days 00:00:00,00:00:00,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:02:58,16,16 to 17 PM
8116,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:33:28,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:07:37,16,16 to 17 PM
8117,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:34:54,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:01:26,16,16 to 17 PM
8118,Stringee,2026-01-22,zaid.k,'917598422225,not connected,2026-01-22 16:36:14,00:00:14,0 days 00:00:00,00:00:00,zaid.k@naxora.live,E-1275,Zaid,1,Saif,TradeX,Yes,00:01:20,16,16 to 17 PM

In [616]:
columns=['Total_Duration','Total_Talk_Time','Total_Talk_Time_GT_30','Total_Connected_Hold_Time','Total_Gap_Duration']
formatted_df[columns] = formatted_df[columns].apply(pd.to_timedelta)
formatted_df[columns] = formatted_df[columns].applymap(
    lambda x: f"{int(x.total_seconds() // 3600):02}:{int((x.total_seconds() % 3600) // 60):02}:{int(x.total_seconds() % 60):02}"
)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\4077908300.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  formatted_df[columns] = formatted_df[columns].applymap(

In [617]:
formatted_df

,Date,Pool,TL,CRM ID,Employee code,Full Name,Vertical,Total_Dialed_Calls,Unique_Dialed_Numbers,Total_Connected_Calls,Total_Number_of_Call_Gap,Total_Call_GT_30,Total_Duration,Total_Talk_Time,Total_Talk_Time_GT_30,Total_Connected_Hold_Time,Total_Gap_Duration,Avg_Gap_per_call,Gap Duration After Leverage,Login Hours
53,2026-01-22,Dialer,Kashif,mayank@nexora.live,E-1718,Manish Rajbhar,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
70,2026-01-22,Dialer,Kashif,navish@nexora.live,E-1495,navish,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
75,2026-01-22,Dialer,Kashif,raj@nexora.live,E-1685,Rohit,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
84,2026-01-22,Dialer,Kashif,sagar.t@nexora.live,E-1292,Sagar Thakur,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
57,2026-01-22,Dialer,Kashif,mitali@nexora.live,E-1717,Manasvi Tiwari,TradeX,72,55,20,1,7,00:40:02,00:14:13,00:11:36,00:00:00,00:27:40,00:00:23,00:00:00,02:07:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,2026-01-22,Referral Pool,Zaid,charan@nexora.live,E-1700,Chirag Sharma,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
16,2026-01-22,Welcome Calling,Zaid,ashpreet.k@nexora.live,E-1069,Ashpreet,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
38,2026-01-22,Referral Pool,Zaid,heer@nexora.live,E-1753,Hiteshree Rana,TradeX,0,0,0,0,0,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
13,2026-01-22,Dialer,NaN,arjun.u@nexora.live,U-1102,arjun,TradeX,16,13,9,4,8,00:27:21,00:22:03,00:21:39,00:00:00,01:38:20,00:06:09,01:26:20,03:05:41
79,2026-01-22,NaN,NaN,ridansh@nexora.live,E-1646,Sagar,TradeX,1,1,1,0,1,00:18:41,00:18:33,00:18:33,00:00:00,00:00:00,00:00:00,00:00:00,01:18:41

In [618]:
import pandas as pd

# Extract all columns
all_columns = final_df_cre.columns.tolist()

# Identify time slot prefixes (ensure consistency with how they're used in the dataframe)
time_slots = [
    "0 to 8 AM", "8 to 9 AM", "9 to 10 AM", "10 to 11 AM",
    "11 to 12 PM", "12 to 13 PM", "13 to 14 PM", "14 to 15 PM",
    "15 to 16 PM", "16 to 17 PM", "17 to 18 PM", "18 to 19 PM", "19 to 20 PM", "20+"
]

# Get non-time-based columns (fixed fields like name, CRM ID, etc.)
fixed_columns = [col for col in all_columns if all(slot not in col for slot in time_slots)]

# Interleave Calls, Talk Time, Total Call Duration, and Unique Dialers
interleaved_columns = []
for slot in time_slots:
    call_col = f"{slot} - Calls"
    talk_col = f"{slot} - Talk Time"
    total_col = f"{slot} - Total Call Duration"
    unique_dialers_col = f"{slot} - Unique Dialers"
    
    # Append only if the column exists
    if call_col in all_columns:
        interleaved_columns.append(call_col)
    if talk_col in all_columns:
        interleaved_columns.append(talk_col)
    if total_col in all_columns:
        interleaved_columns.append(total_col)
    if unique_dialers_col in all_columns:
        interleaved_columns.append(unique_dialers_col)

# Final column order
new_column_order = fixed_columns + interleaved_columns

# Reorder the DataFrame
df_reordered = final_df_cre[new_column_order]

# Display (or export)
print(df_reordered.head())

                   CRM ID Employee code       Full Name    Pool       TL  \
0          Abhinav.a.live        E-1356         Abhinav       1     Saif
1  Deepa.negi@nexora.live        E-1443     Suja Basnet    Meta  Radhika
2       aamir@nexora.live        E-1911           Aamir     OJT     Saif
3  abhishek.k@nexora.live        E-1266  Abhishek Kumar    Meta  Radhika
4      adharv@nexora.live        E-1460      Anuj Saini  Dialer   Kashif

   0 to 8 AM - Calls 0 to 8 AM - Talk Time 0 to 8 AM - Total Call Duration  \
0                  0       0 days 00:00:00                 0 days 00:00:00
1                  0       0 days 00:00:00                 0 days 00:00:00
2                  0       0 days 00:00:00                 0 days 00:00:00
3                  0       0 days 00:00:00                 0 days 00:00:00
4                  0       0 days 00:00:00                 0 days 00:00:00

   8 to 9 AM - Calls 8 to 9 AM - Talk Time  ...  \
0                 25       0 days 00:02:19  ...
1                 15       0 days 00:13:23  ...
2                  8       0 days 00:04:32  ...
3                 18       0 days 00:41:39  ...
4                 17       0 days 00:00:46  ...

  13 to 14 PM - Total Call Duration  14 to 15 PM - Calls  \
0                   0 days 00:05:48                   23
1                   0 days 00:15:02                   14
2                   0 days 00:00:00                    0
3                   0 days 00:00:00                    0
4                   0 days 00:00:00                    0

  14 to 15 PM - Talk Time 14 to 15 PM - Total Call Duration  \
0         0 days 00:02:50                   0 days 00:09:05
1         0 days 00:05:08                   0 days 00:09:59
2         0 days 00:00:00                   0 days 00:00:00
3         0 days 00:00:00                   0 days 00:00:00
4         0 days 00:00:00                   0 days 00:00:00

   15 to 16 PM - Calls 15 to 16 PM - Talk Time  \
0                   19         0 days 00:01:41
1                   22         0 days 00:02:30
2                    1         0 days 00:00:00
3                    0         0 days 00:00:00
4                    0         0 days 00:00:00

  15 to 16 PM - Total Call Duration  16 to 17 PM - Calls  \
0                   0 days 00:07:12                   14
1                   0 days 00:06:56                   13
2                   0 days 00:00:16                    2
3                   0 days 00:00:00                    0
4                   0 days 00:00:00                    0

  16 to 17 PM - Talk Time 16 to 17 PM - Total Call Duration
0         0 days 00:00:29                   0 days 00:04:39
1         0 days 00:09:45                   0 days 00:12:31
2         0 days 00:00:00                   0 days 00:00:26
3         0 days 00:00:00                   0 days 00:00:00
4         0 days 00:00:00                   0 days 00:00:00

[5 rows x 35 columns]

In [619]:



# Extract all columns
all_columns = final_df_cre.columns.tolist()

# Define time slot prefixes
time_slots = [
    "0 to 8 AM", "8 to 9 AM", "9 to 10 AM", "10 to 11 AM",
    "11 to 12 PM", "12 to 13 PM", "13 to 14 PM", "14 to 15 PM", "15 to 16 PM",
    "16 to 17 PM", "17 to 18 PM", "18 to 19 PM", "19 to 20 PM", "20+"
]

# Get non-time columns (e.g. CRM ID, Full Name, etc.)
fixed_columns = [col for col in all_columns if all(slot not in col for slot in time_slots)]

# Interleave Calls, Unique Calls, Talk Time, and Total Call Duration columns
interleaved_columns = []
for slot in time_slots:
    call_col = f"{slot} - Calls"
    unique_col = f"{slot} - Unique Calls"
    talk_col = f"{slot} - Talk Time"
    total_col = f"{slot} - Total Call Duration"
    
    if call_col in all_columns:
        interleaved_columns.append(call_col)
    if unique_col in all_columns:
        interleaved_columns.append(unique_col)
    if talk_col in all_columns:
        interleaved_columns.append(talk_col)
    if total_col in all_columns:
        interleaved_columns.append(total_col)

# Final column order
new_column_order = fixed_columns + interleaved_columns

# Reorder DataFrame
df_reordered = final_df_cre[new_column_order]

# Display the reordered DataFrame
print(df_reordered.head())

                   CRM ID Employee code       Full Name    Pool       TL  \
0          Abhinav.a.live        E-1356         Abhinav       1     Saif
1  Deepa.negi@nexora.live        E-1443     Suja Basnet    Meta  Radhika
2       aamir@nexora.live        E-1911           Aamir     OJT     Saif
3  abhishek.k@nexora.live        E-1266  Abhishek Kumar    Meta  Radhika
4      adharv@nexora.live        E-1460      Anuj Saini  Dialer   Kashif

   0 to 8 AM - Calls  0 to 8 AM - Unique Calls 0 to 8 AM - Talk Time  \
0                  0                         0       0 days 00:00:00
1                  0                         0       0 days 00:00:00
2                  0                         0       0 days 00:00:00
3                  0                         0       0 days 00:00:00
4                  0                         0       0 days 00:00:00

  0 to 8 AM - Total Call Duration  8 to 9 AM - Calls  ...  \
0                 0 days 00:00:00                 25  ...
1                 0 days 00:00:00                 15  ...
2                 0 days 00:00:00                  8  ...
3                 0 days 00:00:00                 18  ...
4                 0 days 00:00:00                 17  ...

   14 to 15 PM - Talk Time 14 to 15 PM - Total Call Duration  \
0          0 days 00:02:50                   0 days 00:09:05
1          0 days 00:05:08                   0 days 00:09:59
2          0 days 00:00:00                   0 days 00:00:00
3          0 days 00:00:00                   0 days 00:00:00
4          0 days 00:00:00                   0 days 00:00:00

  15 to 16 PM - Calls  15 to 16 PM - Unique Calls  15 to 16 PM - Talk Time  \
0                  19                          19          0 days 00:01:41
1                  22                          17          0 days 00:02:30
2                   1                           1          0 days 00:00:00
3                   0                           0          0 days 00:00:00
4                   0                           0          0 days 00:00:00

  15 to 16 PM - Total Call Duration 16 to 17 PM - Calls  \
0                   0 days 00:07:12                  14
1                   0 days 00:06:56                  13
2                   0 days 00:00:16                   2
3                   0 days 00:00:00                   0
4                   0 days 00:00:00                   0

   16 to 17 PM - Unique Calls  16 to 17 PM - Talk Time  \
0                          13          0 days 00:00:29
1                          13          0 days 00:09:45
2                           2          0 days 00:00:00
3                           0          0 days 00:00:00
4                           0          0 days 00:00:00

  16 to 17 PM - Total Call Duration
0                   0 days 00:04:39
1                   0 days 00:12:31
2                   0 days 00:00:26
3                   0 days 00:00:00
4                   0 days 00:00:00

[5 rows x 45 columns]

In [620]:
df_reordered.columns

Index(['CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL',
       '0 to 8 AM - Calls', '0 to 8 AM - Unique Calls',
       '0 to 8 AM - Talk Time', '0 to 8 AM - Total Call Duration',
       '8 to 9 AM - Calls', '8 to 9 AM - Unique Calls',
       '8 to 9 AM - Talk Time', '8 to 9 AM - Total Call Duration',
       '9 to 10 AM - Calls', '9 to 10 AM - Unique Calls',
       '9 to 10 AM - Talk Time', '9 to 10 AM - Total Call Duration',
       '10 to 11 AM - Calls', '10 to 11 AM - Unique Calls',
       '10 to 11 AM - Talk Time', '10 to 11 AM - Total Call Duration',
       '11 to 12 PM - Calls', '11 to 12 PM - Unique Calls',
       '11 to 12 PM - Talk Time', '11 to 12 PM - Total Call Duration',
       '12 to 13 PM - Calls', '12 to 13 PM - Unique Calls',
       '12 to 13 PM - Talk Time', '12 to 13 PM - Total Call Duration',
       '13 to 14 PM - Calls', '13 to 14 PM - Unique Calls',
       '13 to 14 PM - Talk Time', '13 to 14 PM - Total Call Duration',
       '14 to 15 PM - Calls', '14 to 15 PM - Unique Calls',
       '14 to 15 PM - Talk Time', '14 to 15 PM - Total Call Duration',
       '15 to 16 PM - Calls', '15 to 16 PM - Unique Calls',
       '15 to 16 PM - Talk Time', '15 to 16 PM - Total Call Duration',
       '16 to 17 PM - Calls', '16 to 17 PM - Unique Calls',
       '16 to 17 PM - Talk Time', '16 to 17 PM - Total Call Duration'],
      dtype='object')

In [621]:
# --- Total Calls ---
call_columns = [col for col in df_reordered.columns 
                if col.endswith(' - Calls') and 'Unique' not in col]
df_reordered['Total Calls'] = df_reordered[call_columns].sum(axis=1)

# --- Total Unique Calls ---
unique_call_columns = [col for col in df_reordered.columns if 'Unique Calls' in col]
df_reordered['Total Unique Calls'] = df_reordered[unique_call_columns].sum(axis=1)

# --- Total Talk Time ---
talk_columns = [col for col in df_reordered.columns if 'Talk Time' in col]

# Convert to timedelta
for col in talk_columns:
    df_reordered[col] = pd.to_timedelta(df_reordered[col])

# Sum talk time and format as HH:MM:SS
df_reordered['Total Talk Time'] = df_reordered[talk_columns].sum(axis=1)
df_reordered['Total Talk Time'] = df_reordered['Total Talk Time'].apply(lambda x: str(x).split()[-1])

# --- Total Call Duration ---
duration_columns = [col for col in df_reordered.columns if 'Total Call Duration' in col]

# Convert to timedelta
for col in duration_columns:
    df_reordered[col] = pd.to_timedelta(df_reordered[col])

# Sum durations and format as HH:MM:SS
df_reordered['Total Call Duration'] = df_reordered[duration_columns].sum(axis=1)
df_reordered['Total Call Duration'] = df_reordered['Total Call Duration'].apply(lambda x: str(x).split()[-1])

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Calls'] = df_reordered[call_columns].sum(axis=1)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Unique Calls'] = df_reordered[unique_call_columns].sum(axis=1)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col])
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Talk Time'] = df_reordered[talk_columns].sum(axis=1)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Talk Time'] = df_reordered['Total Talk Time'].apply(lambda x: str(x).split()[-1])
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col])
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Call Duration'] = df_reordered[duration_columns].sum(axis=1)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\664637384.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered['Total Call Duration'] = df_reordered['Total Call Duration'].apply(lambda x: str(x).split()[-1])

In [622]:


# Helper: Convert timedelta to minutes
def duration_to_minutes(x):
    if pd.isnull(x):
        return 0
    # If it's a timedelta, extract hours, minutes, and seconds
    total_seconds = x.total_seconds()
    hours = total_seconds // 3600
    minutes = (total_seconds % 3600) // 60
    seconds = (total_seconds % 3600) % 60
    return hours * 60 + minutes + seconds / 60

# Identify all 'Calls' columns (for each hour)
call_cols = [col for col in df_reordered.columns if 'Calls' in col and 'Total' not in col and 'Unique' not in col]
# Get corresponding 'Talk Time' columns (must align in order)
time_cols = [col.replace('Calls', 'Talk Time') for col in call_cols]

# For each time block, create a STATUS column
for call_col, time_col in zip(call_cols, time_cols):
    status_col = call_col.replace('Calls', 'Status')
    
    # Convert duration to minutes (creates a new temp column)
    minutes_col = time_col + '_mins'
    df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
    
    # Create condition masks
    # --- For Pool == 1
    pool1_mask = df_reordered['Pool'] == 1
    calls = df_reordered[call_col]
    mins = df_reordered[minutes_col]
    
    # Target
    target_p1 = (calls >= 25) | (mins >= 25)
    # Warning
    warning_p1 = ((calls.between(22, 24)) | (mins.between(22, 24)))
    # Not Complete
    not_complete_p1 = ~(target_p1 | warning_p1)
    
    # --- For Pool != 1
    pool_other_mask = ~pool1_mask
    target_pO = (calls >= 30) | (mins >= 30)
    warning_pO = ((calls.between(25, 29)) | (mins.between(25, 29)))
    not_complete_pO = ~(target_pO | warning_pO)
    
    df_reordered[status_col] = np.select(
    [
        pool1_mask & target_p1,
        pool1_mask & warning_p1,
        pool1_mask & not_complete_p1,
        pool_other_mask & target_pO,
        pool_other_mask & warning_pO,
        pool_other_mask & not_complete_pO,
    ],
    [
        'Complete',
        'Warning',
        'Not Complete',
        'Complete',
        'Warning',
        'Not Complete'
    ],
    default='Not Complete'  
    )

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[minutes_col] = df_reordered[time_col].apply(duration_to_minutes)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\638664037.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[status_col] = np.select(

In [623]:
import pandas as pd

def minutes_to_hhmmss(mins):
    # Handle NaN or invalid values gracefully
    if pd.isnull(mins):
        return "00:00:00"
    total_seconds = int(mins * 60)
    hours, remainder = divmod(total_seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Suppose after processing you still have the temp minutes columns named e.g. '0 to 8 AM - Talk Time_mins'
# Convert those back to HH:MM:SS strings (overwrite or create new columns)

for call_col, time_col in zip(call_cols, time_cols):
    minutes_col = time_col + '_mins'
    if minutes_col in df_reordered.columns:
        df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
        # Optionally remove the temp minutes column again
        df_reordered.drop(columns=[minutes_col], inplace=True)

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[time_col] = df_reordered[minutes_col].apply(minutes_to_hhmmss)
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\3526194726.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered.drop(columns=[minutes_col], inplace=True)

In [624]:
# Step 1: Strip any extra whitespace from column names
df_reordered.columns = df_reordered.columns.str.strip()

# Step 2: Identify columns with 'Talk Time' or 'Total Call Duration'
time_columns = [col for col in df_reordered.columns if 'Talk Time' in col or 'Total Call Duration' in col]

# Step 3: Convert to timedelta and format back to 'hh:mm:ss'
for col in time_columns:
    # Safely convert to timedelta
    df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')

    # Format to 'hh:mm:ss', exclude days
    df_reordered[col] = df_reordered[col].apply(
        lambda x: f'{x.seconds // 3600:02}:{(x.seconds % 3600) // 60:02}:{(x.seconds % 60):02}'
        if pd.notnull(x) else '00:00:00'
    )

C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = pd.to_timedelta(df_reordered[col], errors='coerce')
C:\Users\Akhil\AppData\Local\Temp\ipykernel_17264\2135337551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reordered[col] = df_reordered[col].apply(

In [625]:
df_reordered

,CRM ID,Employee code,Full Name,Pool,TL,0 to 8 AM - Calls,0 to 8 AM - Unique Calls,0 to 8 AM - Talk Time,0 to 8 AM - Total Call Duration,8 to 9 AM - Calls,...,0 to 8 AM - Status,8 to 9 AM - Status,9 to 10 AM - Status,10 to 11 AM - Status,11 to 12 PM - Status,12 to 13 PM - Status,13 to 14 PM - Status,14 to 15 PM - Status,15 to 16 PM - Status,16 to 17 PM - Status
0,Abhinav.a.live,E-1356,Abhinav,1,Saif,0,0,00:00:00,00:00:00,25,...,Not Complete,Warning,Not Complete,Not Complete,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete
1,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,0,0,00:00:00,00:00:00,15,...,Not Complete,Not Complete,Not Complete,Not Complete,Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete
2,aamir@nexora.live,E-1911,Aamir,OJT,Saif,0,0,00:00:00,00:00:00,8,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
3,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,0,0,00:00:00,00:00:00,18,...,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
4,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,0,0,00:00:00,00:00:00,17,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,0,0,00:00:00,00:00:00,19,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
64,vicky.v@nexora.live,E-1167,Vishal,Pull back-WFH,Parth,1,1,00:00:00,00:00:31,7,...,Not Complete,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Complete,Not Complete
65,waman@nexora.live,E-1252,Waman Avhad,1,Saif,0,0,00:00:00,00:00:00,33,...,Not Complete,Complete,Warning,Warning,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
66,yatin@nexora.live,E-1906,Yatin,OJT,Saif,0,0,00:00:00,00:00:00,2,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete
67,zaid.k@naxora.live,E-1275,Zaid,1,Saif,0,0,00:00:00,00:00:00,27,...,Not Complete,Warning,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete

In [626]:
D['Connected'] = np.where(D['Call Status'] == 'connected', '1', '')
D['Not Connected'] = np.where(D['Call Status'] == 'not connected', '1', '')

In [627]:
df_reordered = df_reordered.merge(
    formatted_df[['CRM ID', 'Login Hours']],
    how='left',
    on='CRM ID'
)
df_reordered

,CRM ID,Employee code,Full Name,Pool,TL,0 to 8 AM - Calls,0 to 8 AM - Unique Calls,0 to 8 AM - Talk Time,0 to 8 AM - Total Call Duration,8 to 9 AM - Calls,...,8 to 9 AM - Status,9 to 10 AM - Status,10 to 11 AM - Status,11 to 12 PM - Status,12 to 13 PM - Status,13 to 14 PM - Status,14 to 15 PM - Status,15 to 16 PM - Status,16 to 17 PM - Status,Login Hours
0,Abhinav.a.live,E-1356,Abhinav,1,Saif,0,0,00:00:00,00:00:00,25,...,Warning,Not Complete,Not Complete,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:16:43
1,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,0,0,00:00:00,00:00:00,15,...,Not Complete,Not Complete,Not Complete,Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:16:11
2,aamir@nexora.live,E-1911,Aamir,OJT,Saif,0,0,00:00:00,00:00:00,8,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,07:19:56
3,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,0,0,00:00:00,00:00:00,18,...,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,03:50:43
4,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,0,0,00:00:00,00:00:00,17,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,04:03:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,0,0,00:00:00,00:00:00,19,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:08:35
64,vicky.v@nexora.live,E-1167,Vishal,Pull back-WFH,Parth,1,1,00:00:00,00:00:31,7,...,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Complete,Not Complete,08:43:00
65,waman@nexora.live,E-1252,Waman Avhad,1,Saif,0,0,00:00:00,00:00:00,33,...,Complete,Warning,Warning,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:13:12
66,yatin@nexora.live,E-1906,Yatin,OJT,Saif,0,0,00:00:00,00:00:00,2,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,07:48:12
67,zaid.k@naxora.live,E-1275,Zaid,1,Saif,0,0,00:00:00,00:00:00,27,...,Warning,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:27:43

In [628]:
result = D.groupby('CRM ID')['Call Start Time'].agg(['min', 'max']).reset_index()
result

                    CRM ID                 min                 max
0           Abhinav.a.live 2026-01-22 08:15:19 2026-01-22 16:31:32
1   Deepa.negi@nexora.live 2026-01-22 08:21:07 2026-01-22 16:37:02
2        aamir@nexora.live 2026-01-22 08:42:43 2026-01-22 16:02:30
3   abhishek.k@nexora.live 2026-01-22 08:02:43 2026-01-22 11:53:19
4       adharv@nexora.live 2026-01-22 08:36:04 2026-01-22 12:32:10
..                     ...                 ...                 ...
65   vandana.g@nexora.live 2026-01-22 08:29:40 2026-01-22 16:38:11
66     vicky.v@nexora.live 2026-01-22 07:54:55 2026-01-22 16:37:36
67       waman@nexora.live 2026-01-22 08:05:55 2026-01-22 16:17:51
68       yatin@nexora.live 2026-01-22 08:49:52 2026-01-22 16:37:57
69      zaid.k@naxora.live 2026-01-22 08:08:45 2026-01-22 16:36:14

[70 rows x 3 columns]

In [629]:
df_reordered = df_reordered.merge(
    result[['CRM ID', 'min', 'max']].rename(columns={'min': 'First Call Time', 'max': 'Last Call Time'}),
    how='left',
    on='CRM ID'
)
df_reordered

,CRM ID,Employee code,Full Name,Pool,TL,0 to 8 AM - Calls,0 to 8 AM - Unique Calls,0 to 8 AM - Talk Time,0 to 8 AM - Total Call Duration,8 to 9 AM - Calls,...,10 to 11 AM - Status,11 to 12 PM - Status,12 to 13 PM - Status,13 to 14 PM - Status,14 to 15 PM - Status,15 to 16 PM - Status,16 to 17 PM - Status,Login Hours,First Call Time,Last Call Time
0,Abhinav.a.live,E-1356,Abhinav,1,Saif,0,0,00:00:00,00:00:00,25,...,Not Complete,Not Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:16:43,2026-01-22 08:15:19,2026-01-22 16:31:32
1,Deepa.negi@nexora.live,E-1443,Suja Basnet,Meta,Radhika,0,0,00:00:00,00:00:00,15,...,Not Complete,Complete,Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:16:11,2026-01-22 08:21:07,2026-01-22 16:37:02
2,aamir@nexora.live,E-1911,Aamir,OJT,Saif,0,0,00:00:00,00:00:00,8,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,07:19:56,2026-01-22 08:42:43,2026-01-22 16:02:30
3,abhishek.k@nexora.live,E-1266,Abhishek Kumar,Meta,Radhika,0,0,00:00:00,00:00:00,18,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,03:50:43,2026-01-22 08:02:43,2026-01-22 11:53:19
4,adharv@nexora.live,E-1460,Anuj Saini,Dialer,Kashif,0,0,00:00:00,00:00:00,17,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,04:03:55,2026-01-22 08:36:04,2026-01-22 12:32:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,vandana.g@nexora.live,E-1713,Vaishali Gupta,Dialer,Kashif,0,0,00:00:00,00:00:00,19,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:08:35,2026-01-22 08:29:40,2026-01-22 16:38:11
64,vicky.v@nexora.live,E-1167,Vishal,Pull back-WFH,Parth,1,1,00:00:00,00:00:31,7,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Complete,Not Complete,08:43:00,2026-01-22 07:54:55,2026-01-22 16:37:36
65,waman@nexora.live,E-1252,Waman Avhad,1,Saif,0,0,00:00:00,00:00:00,33,...,Warning,Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:13:12,2026-01-22 08:05:55,2026-01-22 16:17:51
66,yatin@nexora.live,E-1906,Yatin,OJT,Saif,0,0,00:00:00,00:00:00,2,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,07:48:12,2026-01-22 08:49:52,2026-01-22 16:37:57
67,zaid.k@naxora.live,E-1275,Zaid,1,Saif,0,0,00:00:00,00:00:00,27,...,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,Not Complete,08:27:43,2026-01-22 08:08:45,2026-01-22 16:36:14

## **Locator**

In [630]:
Service = pd.read_excel("Mobile_locator.xlsx", sheet_name='Sheet1')
Circle = pd.read_excel("Mobile_locator.xlsx", sheet_name='Sheet3')
Series = pd.read_excel("Mobile_locator.xlsx", sheet_name='Sheet2')

In [631]:
Circle

,Circle name,S1,Code,Category,Geographic area(s) covered
0,Andhra Pradesh,Andhra Pradesh,AP,A,"Andhra Pradesh, Telangana, Yanam district"
1,Assam,Assam,AS,C,Assam
2,Bihar & Jharkhand,Bihar,BR,C,"Bihar, Jharkhand"
3,Chennai,Tamil Nadu,CH,Metro,"Chennai, Maraimalai Nagar, Minjur, Mahabalipuram"
4,Delhi,Delhi,DL,Metro,"Delhi, Faridabad district and Gurgaon distric..."
5,Gujarat,Gujarat,GJ,A,Gujarat and Dadra and Nagar Haveli and Daman...
6,Haryana,Haryana,HR,B,"Haryana (excluding Faridabad district, Gurgao..."
7,Himachal Pradesh,Himachal Pradesh,HP,C,Himachal Pradesh
8,Jammu and Kashmir,Jammu and Kashmir,JK,C,Jammu and Kashmir and Ladakh
9,Karnataka,Karnataka,KA,A,Karnataka
10,Kerala & Lakshadweep,Kerala,KL,B,"Kerala, Lakshadweep and Mahé district"
11,Kolkata,West Bengal,KO,Metro,"Kolkata (including parts of Howrah district, H..."
12,Madhya Pradesh & Chhattisgarh,Madhya Pradesh,MP,B,Madhya Pradesh and Chhattisgarh
13,Maharashtra & Goa,Mahrashtra,MH,A,"Maharashtra (excluding Mumbai, Navi Mumbai, T..."
14,Mumbai,Mahrashtra,MU,Metro,"Mumbai, Navi Mumbai, Thane and Kalyan"
15,North East,Assam,NE,C,"Arunachal Pradesh, Manipur Meghalaya, Mizo..."
16,Odisha,Odisha,OR,C,Odisha
17,Punjab,Punjab,PB,B,"Punjab, Chandigarh and Panchkula district"
18,Rajasthan,Rajasthan,RJ,B,Rajasthan
19,Tamil Nadu,Tamil Nadu,TN,A,"Tamil Nadu, Puducherry district and Karaikal ..."
20,UP (East),Uttar Pradesh,UE,B,Eastern Uttar Pradesh
21,UP (West),Uttar Pradesh,UW,B,Western Uttar Pradesh (excluding Ghaziabad dis...
22,West Bengal,West Bengal,WB,C,"West Bengal (excluding Kolkata), Sikkim and ..."

In [632]:
Series.dtypes

Series      int64
Service    object
State      object
dtype: object

In [633]:
Series['Series'] = Series['Series'].astype(str)

In [634]:
def clean_number(num):
    num = str(num)
    num = num.lstrip("'")       # remove leading apostrophe
    num = num.lstrip("+")       # remove leading +
    if num.startswith("91"):    # remove leading 91 if present
        num = num[2:]
    return num

In [635]:
D["Clean_Number"] = D["Number"].apply(clean_number)

In [636]:
D["Series"] = D["Clean_Number"].str[:4]

In [637]:
D = D.merge(Series, on="Series", how="left")

In [638]:
D = D.merge(Service, left_on = 'Service', right_on = 'Code', how='left')
D

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,CRM ID,...,hour,Interval,Connected,Not Connected,Clean_Number,Series,Service,State,Code,Provider
0,Knowlarity,2026-01-22,339abhinav,''+917024024483,not connected,2026-01-22 08:15:19,00:00:18,0 days 00:00:00,0:0:0,Abhinav.a.live,...,8,8 to 9 AM,,1,7024024483,7024,AT,MP,AT,Airtel India
1,Knowlarity,2026-01-22,339abhinav,''+917060198053,connected,2026-01-22 08:16:52,00:00:40,0 days 00:00:30,0:0:0,Abhinav.a.live,...,8,8 to 9 AM,1,,7060198053,7060,AT,UW,AT,Airtel India
2,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:30,00:00:07,0 days 00:00:00,0:0:0,Abhinav.a.live,...,8,8 to 9 AM,,1,7049771122,7049,VI,MP,VI,Vodafone Idea
3,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:40,00:00:23,0 days 00:00:00,0:0:0,Abhinav.a.live,...,8,8 to 9 AM,,1,7049771122,7049,VI,MP,VI,Vodafone Idea
4,Knowlarity,2026-01-22,339abhinav,''+919322709871,not connected,2026-01-22 08:24:00,00:00:14,0 days 00:00:00,0:0:0,Abhinav.a.live,...,8,8 to 9 AM,,1,9322709871,9322,RJ,MH,RJ,Reliance Jio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,Stringee,2026-01-22,zaid.k,'917724051959,not connected,2026-01-22 16:22:00,00:00:17,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,16,16 to 17 PM,,1,7724051959,7724,NaN,NaN,NaN,NaN
8115,Stringee,2026-01-22,zaid.k,'917300071037,not connected,2026-01-22 16:25:15,00:00:36,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,16,16 to 17 PM,,1,7300071037,7300,AT,UW,AT,Airtel India
8116,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:33:28,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,16,16 to 17 PM,,1,917598422225,9175,AT,MH,AT,Airtel India
8117,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:34:54,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,16,16 to 17 PM,,1,917598422225,9175,AT,MH,AT,Airtel India
8118,Stringee,2026-01-22,zaid.k,'917598422225,not connected,2026-01-22 16:36:14,00:00:14,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,16,16 to 17 PM,,1,7598422225,7598,CG,TN,CG,BSNL/MTNL - Central Gov.

In [ ]:
D = D.merge(Circle, left_on = 'State', right_on='Code', how='left')

In [ ]:
D= D[['Source', 'Date', 'Dialer Name', 'Number', 'Call Status',
       'Call Start Time', 'Total Call Duration', 'Talk Time', 'Hold Time',
       'CRM ID', 'Employee code', 'Full Name', 'Pool', 'TL', 'Vertical',
       'Call Gap', 'Gap Duration', 'hour', 'Interval', 'Connected',
       'Not Connected',
       'Provider', 'Circle name', 'S1', 'Category',
       'Geographic area(s) covered']]
D

,Source,Date,Dialer Name,Number,Call Status,Call Start Time,Total Call Duration,Talk Time,Hold Time,CRM ID,...,Gap Duration,hour,Interval,Connected,Not Connected,Provider,Circle name,S1,Category,Geographic area(s) covered
0,Knowlarity,2026-01-22,339abhinav,''+917024024483,not connected,2026-01-22 08:15:19,00:00:18,0 days 00:00:00,0:0:0,Abhinav.a.live,...,00:00:00,8,8 to 9 AM,,1,Airtel India,Madhya Pradesh & Chhattisgarh,Madhya Pradesh,B,Madhya Pradesh and Chhattisgarh
1,Knowlarity,2026-01-22,339abhinav,''+917060198053,connected,2026-01-22 08:16:52,00:00:40,0 days 00:00:30,0:0:0,Abhinav.a.live,...,00:01:15,8,8 to 9 AM,1,,Airtel India,UP (West),Uttar Pradesh,B,Western Uttar Pradesh (excluding Ghaziabad dis...
2,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:30,00:00:07,0 days 00:00:00,0:0:0,Abhinav.a.live,...,00:03:58,8,8 to 9 AM,,1,Vodafone Idea,Madhya Pradesh & Chhattisgarh,Madhya Pradesh,B,Madhya Pradesh and Chhattisgarh
3,Knowlarity,2026-01-22,339abhinav,''+917049771122,not connected,2026-01-22 08:21:40,00:00:23,0 days 00:00:00,0:0:0,Abhinav.a.live,...,00:00:03,8,8 to 9 AM,,1,Vodafone Idea,Madhya Pradesh & Chhattisgarh,Madhya Pradesh,B,Madhya Pradesh and Chhattisgarh
4,Knowlarity,2026-01-22,339abhinav,''+919322709871,not connected,2026-01-22 08:24:00,00:00:14,0 days 00:00:00,0:0:0,Abhinav.a.live,...,00:01:57,8,8 to 9 AM,,1,Reliance Jio,Maharashtra & Goa,Mahrashtra,A,"Maharashtra (excluding Mumbai, Navi Mumbai, T..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,Stringee,2026-01-22,zaid.k,'917724051959,not connected,2026-01-22 16:22:00,00:00:17,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,00:00:07,16,16 to 17 PM,,1,NaN,NaN,NaN,NaN,NaN
8115,Stringee,2026-01-22,zaid.k,'917300071037,not connected,2026-01-22 16:25:15,00:00:36,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,00:02:58,16,16 to 17 PM,,1,Airtel India,UP (West),Uttar Pradesh,B,Western Uttar Pradesh (excluding Ghaziabad dis...
8116,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:33:28,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,00:07:37,16,16 to 17 PM,,1,Airtel India,Maharashtra & Goa,Mahrashtra,A,"Maharashtra (excluding Mumbai, Navi Mumbai, T..."
8117,Stringee,2026-01-22,zaid.k,'91917598422225,not connected,2026-01-22 16:34:54,00:00:00,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,00:01:26,16,16 to 17 PM,,1,Airtel India,Maharashtra & Goa,Mahrashtra,A,"Maharashtra (excluding Mumbai, Navi Mumbai, T..."
8118,Stringee,2026-01-22,zaid.k,'917598422225,not connected,2026-01-22 16:36:14,00:00:14,0 days 00:00:00,00:00:00,zaid.k@naxora.live,...,00:01:20,16,16 to 17 PM,,1,BSNL/MTNL - Central Gov.,Tamil Nadu,Tamil Nadu,A,"Tamil Nadu, Puducherry district and Karaikal ..."

## Export

In [ ]:
save_path = r'C:\Users\Akhil\Downloads\daily raw\report'
tata.to_csv(f'{save_path}\\tata.csv', index=False)
formatted_df.to_csv(f'{save_path}\\Summary_22_01_17.csv', index=False)
D.to_csv(f'{save_path}\\Dialer_22_01_17.csv', index=False)
crm_id_null_df.to_csv(f'{save_path}\\Not_Found_Users_22_01_17.csv', index=False)
df_reordered.to_csv(f'{save_path}\\CRE_dial_coun_22_01_17.csv', index=False)